<div ng-switch="type" ng-style="containerStyle" class="dashboard-updater-container">
    <yds-info
            ng-switch-when="info"
            project-id="none"
            view-type="{{ viewType }}"
            label-col-width="2"
            extra-params="extraParams"
            lang="{{ lang }}">
    </yds-info>

    <yds-info
            ng-switch-when="info-vertical"
            project-id="none"
            view-type="{{ viewType }}"
            label-col-width="2"
            extra-params="extraParams"
            vertical="true"
            lang="{{ lang }}">
    </yds-info>

    <yds-heatmap
            ng-switch-when="heatmap-simple"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            color-axis="true"
            legend="true"
            legend-v-align="bottom"
            dashboard-id="{{ dashboardId }}"
            extra-params="extraParams"
            no-border="true"
            base-url="{{ baseUrl }}"
            element-h="{{ minHeight }}">
    </yds-heatmap>

    <yds-sunburst
            ng-switch-when="sunburst"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            selection-id="{{ selectionId }}"
            extra-params="extraParams"
            element-h="{{ minHeight }}">
    </yds-sunburst>

    <yds-donut-pie
            ng-switch-when="donut-pie"
            project-id="none"
            view-type="{{ viewType }}"
            element-h="{{ minHeight }}"
            selection-id="{{ selectionId }}"
            extra-params="extraParams"
            lang="{{ lang }}">
    </yds-donut-pie>

    <yds-line
            ng-switch-when="line"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            element-h="{{ minHeight }}"
            add-to-basket="{{ addToBasket }}"
            extra-params="extraParams"
            lang="{{ lang }}">
    </yds-line>

    <yds-grid-results
            ng-switch-when="grid"
            project-id="none"
            view-type="{{ viewType }}"
            project-details-type="{{ concept }}"
            extra-params="extraParams"
            page-size="250"
            quick-filtering="true"
            element-h="400"
            view-in-dashboard="true"
            col-resize="true"
            add-to-basket="{{ addToBasket }}"
            basket-btn-x="400"
            basket-btn-y="0"
            exporting="true"
            export-btn-x="375"
            export-btn-y="0"
            enable-rating="{{ enableRating }}"
            show-results-num="true"
            lang="{{ lang }}">
    </yds-grid-results>

    <yds-grid-results
            ng-switch-when="grid-paging"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            project-details-type="{{ concept }}"
            extra-params="extraParams"
            page-size="1000"
            quick-filtering="false"
            element-h="{{ minHeight }}"
            view-in-dashboard="false"
            use-grid-api="true"
            enable-view-button="{{ enableGridViewBtn }}"
            number-of-items="{{ numberOfItems }}"
            col-resize="true"
            add-to-basket="{{ addToBasket }}"
            basket-btn-x="2"
            basket-btn-y="{{ yBtnPosition }}"
            exporting="true"
            export-btn-x="56"
            export-btn-y="{{ yBtnPosition }}"
            embeddable="true"
            embed-btn-x="30"
            embed-btn-y="{{ yBtnPosition }}"
            enable-rating="{{ enableRating }}"
            lang="{{ lang }}">
    </yds-grid-results>

    <yds-grid
            ng-switch-when="simple-grid"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            col-resize="true"
            filtering="true"
            basket-btn-x="2"
            basket-btn-y="{{ yBtnPosition }}"
            exporting="true"
            export-btn-x="56"
            export-btn-y="{{ yBtnPosition }}"
            embeddable="true"
            embed-btn-x="30"
            embed-btn-y="{{ yBtnPosition }}"
            enable-rating="{{ enableRating }}"
            element-h="{{ minHeight }}"
            lang="{{ lang }}">
    </yds-grid>

    <yds-grid
            ng-switch-when="selection-grid"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            selection-type="{{ selectionType }}"
            extra-params="extraParams"
            add-to-basket="false"
            exporting="false"
            quick-filtering="{{ quickFiltering }}"
            embeddable="false"
            col-resize="true"
            ignore-own-selection="{{ ignoreOwnSelection }}"
            grouped-data="{{ groupedData }}"
            allow-selection="true"
            selection-id="{{ selectionId }}"
            dashboard-id="{{ dashboardId }}"
            element-h="{{ minHeight }}"
            lang="{{ lang }}">
    </yds-grid>

    <yds-grid-selection-paging
            ng-switch-when="selection-paging-grid"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            selection-type="{{ selectionType }}"
            extra-params="extraParams"
            page-size="1000"
            number-of-items="{{ numberOfItems }}"
            ignore-own-selection="{{ ignoreOwnSelection }}"
            checkbox-in-new-col="true"
            base-url="{{ baseUrl }}"
            col-resize="true"
            selection-id="{{ selectionId }}"
            dashboard-id="{{ dashboardId }}"
            element-h="{{ minHeight }}"
            lang="{{ lang }}">
    </yds-grid-selection-paging>

    <yds-pie
            ng-switch-when="pie"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            basket-btn-y="{{ yBtnPosition }}"
            embeddable="true"
            embed-btn-x="40"
            embed-btn-y="{{ yBtnPosition }}"
            enable-rating="{{ enableRating }}"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-pie>

    <yds-bar
            ng-switch-when="bar"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            basket-btn-y="{{ yBtnPosition }}"
            embeddable="true"
            embed-btn-x="40"
            embed-btn-y="{{ yBtnPosition }}"
            enable-rating="{{ enableRating }}"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-bar>

    <yds-bar
            ng-switch-when="bar-paging"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            basket-btn-x="0"
            basket-btn-y="{{ yBtnPosition }}"
            embeddable="true"
            embed-btn-x="30"
            embed-btn-y="{{ yBtnPosition }}"
            number-of-items="{{ numberOfItems }}"
            enable-paging="true"
            page-size="500"
            enable-rating="{{ enableRating }}"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-bar>

    <yds-tree-map
            ng-switch-when="tree"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            basket-btn-y="{{ yBtnPosition }}"
            embeddable="true"
            embed-btn-x="40"
            embed-btn-y="{{ yBtnPosition }}"
            enable-rating="{{ enableRating }}"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-tree-map>

    <yds-bubble
            ng-switch-when="bubble"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            basket-btn-y="{{ yBtnPosition }}"
            embeddable="true"
            embed-btn-x="40"
            embed-btn-y="{{ yBtnPosition }}"
            enable-rating="{{ enableRating }}"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-bubble>

    <yds-search-tabs
            ng-switch-when="search"
            default-tab="{{ concept }}"
            url-param-prefix="{{ urlParamPrefix }}"
            add-to-basket="{{ addToBasket }}"
            view-in-dashboard="true"
            watch-rule-url-param="{{ enableAdvSearch }}"
            enable-adv-search="{{ enableAdvSearch }}"
            hide-tabs="true"
            lang="{{ lang }}">
    </yds-search-tabs>

    <yds-aggregate
            ng-switch-when="aggregate"
            project-id="{{ projectId }}"
            dashboard-id="{{ dashboardId }}"
            value-obj="aggregateValueObj"
            view-type="{{ viewType }}"
            icon-size="{{ aggregateIconSize }}"
            set-on-init="{{ aggregateSetOnInit }}"
            element-h="{{ minHeight }}"
            show-view-btn="{{ aggregateShowButton }}"
            lang="{{ lang }}"
            extra-params="extraParams">
    </yds-aggregate>

    <yds-traffic-observation
            ng-switch-when="traffic-observation"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            allow-selection="{{ enableSelection }}"
            extra-params="extraParams"
            element-h="{{ minHeight }}"
            lang="{{ lang }}">
    </yds-traffic-observation>
</div>
