<div class="dashboard-visualization-container">
    <div class="panel panel-default" ng-style="panelStyle">
        <div class="panel-heading clearfix" ng-style="panelHeadingStyle">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">{{ title }}</h3>

            <!--Chart type radio buttons-->
            <div class="btn-group btn-group-sm pull-right" id="vistypes">
                <!--Grid-->
                <label ng-model="selectedVis" uib-btn-radio="'grid'"
                       ng-click="selectVis('grid')" class="btn btn-default" title="Grid View">
                    <i class="fa fa-list-alt" aria-hidden="true"></i></label>

                <!--Pie chart-->
                <label ng-model="selectedVis" uib-btn-radio="'pie'"
                       ng-click="selectVis('pie')" class="btn btn-default" title="Pie Chart">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i></label>

                <!--Bar chart-->
                <label ng-model="selectedVis" uib-btn-radio="'bar'"
                       ng-click="selectVis('bar')" class="btn btn-default" title="Bar Chart">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i></label>

                <!--Tree map-->
                <label ng-model="selectedVis" uib-btn-radio="'tree'"
                       ng-click="selectVis('tree')" class="btn btn-default" style="max-width: 35px; max-height: 30px"
                       title="Treemap Chart">
                    <img src="fonts/ic_view_quilt_black_18px.svg"/></label>

                <!--Line time series-->
                <label ng-model="selectedVis" uib-btn-radio="'line-time'" style="padding-left: 8px; padding-right: 8px"
                       ng-if="disableTimeseries !== 'true'" ng-click="selectVis('line-time')" class="btn btn-default"
                       title="Line (Timeseries)">
                    <img src="img/chart-line-2d-dots-time_small@1x.png"/>
                </label>

                <!--Grid time series-->
                <label ng-model="selectedVis" uib-btn-radio="'grid-time'" style="padding-left: 8px; padding-right: 8px"
                       ng-if="disableTimeseries !== 'true'" ng-click="selectVis('grid-time')" class="btn btn-default"
                       title="Grid (Timeseries)">
                    <img src="img/table-time_small@1x.png"/>
                </label>
            </div>

            <!--Amount/Count radio buttons-->
            <div ng-if="disableAggregates != 'true'" class="pull-right" style="margin-right: 20px;">
                <span uib-tooltip="{{ translations.tooltip }}">{{ translations.prompt }}</span>
                <div class="btn-group btn-group-sm">
                    <label class="btn btn-default" ng-model="aggregateRadio.value" uib-btn-radio="'amount'">
                        {{ translations.amount }}</label>
                    <label class="btn btn-default" ng-show="enableBudget" ng-model="aggregateRadio.value"
                           uib-btn-radio="'budget'">{{ translations.budget }}</label>
                    <label class="btn btn-default" ng-model="aggregateRadio.value" uib-btn-radio="'count'">
                        {{ translations.count}}</label>
                </div>
            </div>

            <!--GDP/Per capita radio buttons-->
            <div ng-if="disableNormalisation != 'true'" class="pull-right" style="margin-right: 20px;">
                <span>{{ translations.normalisePrompt }}</span>
                <div class="btn-group btn-group-sm">
                    <label class="btn btn-default" ng-model="normaliseRadio.value" uib-btn-radio="'no'">
                        {{ translations.noNorm }}</label>
                    <label class="btn btn-default" ng-model="normaliseRadio.value" uib-btn-radio="'gdp'">
                        {{ translations.gdp }}</label>
                    <label class="btn btn-default" ng-model="normaliseRadio.value" uib-btn-radio="'percapita'">
                        {{ translations.pcap }}</label>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-style="panelBodyStyle">
            <div ng-if="selViewType.length > 0" ng-switch="selectedVis">
                <!--Grid-->
                <yds-dashboard-updater
                        ng-switch-when="grid"
                        ng-if="!usePaging"
                        type="simple-grid"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Grid (with paging)-->
                <yds-dashboard-updater
                        ng-switch-when="grid"
                        ng-if="usePaging"
                        type="grid-paging"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        number-of-items="{{ numberOfItems }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Pie-->
                <yds-dashboard-updater
                        ng-switch-when="pie"
                        type="pie"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Bar-->
                <yds-dashboard-updater
                        ng-switch-when="bar"
                        ng-if="!usePaging"
                        type="bar"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Bar (with paging)-->
                <yds-dashboard-updater
                        ng-switch-when="bar"
                        ng-if="usePaging"
                        type="bar-paging"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        number-of-items="{{ numberOfItems }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Treemap-->
                <yds-dashboard-updater
                        ng-switch-when="tree"
                        type="tree"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        base-url="{{ baseUrl }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Line time series-->
                <yds-dashboard-updater
                        ng-switch-when="line-time"
                        type="line"
                        timeseries="true"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        base-url="{{ baseUrl }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Grid time series (no paging)-->
                <yds-dashboard-updater
                        ng-switch-when="grid-time"
                        type="simple-grid"
                        ng-if="!usePaging"
                        timeseries="true"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        base-url="{{ baseUrl }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Grid time series (paging)-->
                <yds-dashboard-updater
                        ng-switch-when="grid-time"
                        ng-if="usePaging"
                        type="grid-paging"
                        timeseries="true"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        normalise-type="{{ normaliseRadio.value }}"
                        aggregate-type="{{ aggregateRadio.value }}"
                        base-url="{{ baseUrl }}"
                        number-of-items="{{ numberOfItems }}"
                        dynamic-dashboard="{{ dynamicDashboard }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>
            </div>
        </div>
    </div>
</div>
