<div class="component-wrapper">
    <div class="row margin-bottom-30">
        <!--Dashboard type selection buttons-->
        <div ng-if="type === 'choose'" class="col-md-8">
            <strong>Dashboard types: </strong>
            <div class="btn-group" style="text-transform: capitalize;">
                <label ng-repeat="dbtype in dashboardsConfig.types track by dbtype.type"
                       ng-model="dashboardsConfig.selectedDashboard"
                       ng-click="changeDashboardType(dbtype.type)"
                       uib-btn-radio="dbtype.type"
                       class="btn btn-default">
                    <i class="fa" ng-class="dbtype.icon" aria-hidden="true"></i> {{ dbtype.label }}
                </label>
            </div>
        </div>

        <!--Save/clear filters buttons-->
        <div class="col-md-4 pull-right" style="text-align: right">
            <yds-save-filters-button
                    dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                    info-type="{{ dashboardsConfig.selectedDashboard }}.filters.selected"
                    lang="en">
            </yds-save-filters-button>

            <yds-clear-filters-button
                    dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                    lang="en">
            </yds-clear-filters-button>

            <yds-dashboard-sharing
                    dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                    lang="en">
            </yds-dashboard-sharing>
        </div>
    </div>

    <!--Filter selection-->
    <div class="row">
        <div class="col-md-12">
            <b>Filters selection:</b>

            <div class="btn-group" data-toggle="buttons">
                <label ng-repeat="filter in dashboardsConfig.filters"
                       ng-class="{'active': filter.checked}"
                       class="btn dashboard-filter-label">
                    <input type="checkbox"
                           ng-model="filter.checked"
                           ng-disabled="filter.disabled"
                           ng-change="updateSelectedFilters()"
                           value="{{ filter.name }}">
                    <i class="fa fa-square-o fa-2x"></i>
                    <i class="fa fa-check-square-o fa-2x"></i>
                    <span>{{ filter.name }}</span>
                </label>
            </div>
        </div>
    </div>

    <!--Filters Container-->
    <div class="row margin-bottom-30">
        <div class="col-md-12">
            <!--Filters-->
            <div class="row">
                <div ng-repeat="filter in dashboardsConfig.filters"
                     ng-if="filter.checked"
                     ng-switch="filter.type"
                     ng-class="filterColumnClass[filter.type] || 'col-md-3'">

                    <!--Heatmap filter-->
                    <div ng-switch-when="heatmap" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ filter.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="{{ filter.params.viewType }}"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-dashboard-params="true"
                                    dynamic-dashboard="true"
                                    dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                                    country-selection="true"
                                    europe-only="{{ filter.params.europeOnly || 'false'}}"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350">
                            </yds-heatmap>
                        </div>
                    </div>

                    <!--Year Range filter-->
                    <yds-year-range
                            ng-switch-when="year"
                            title="{{ filter.params.label }}"
                            dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                            min-year="1997"
                            max-year="2018">
                    </yds-year-range>

                    <!--Grid filter-->
                    <yds-dashboard-updater
                            ng-switch-when="grid"
                            type="selection-paging-grid"
                            project-id="none"
                            view-type="{{ filter.params.viewType }}"
                            dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                            selection-id="{{ filter.params.selectionId }}"
                            dynamic-dashboard="true"
                            ignore-own-selection="true"
                            number-of-items="{{ aggregateValues[filter.params.viewType] }}"
                            base-url="http://platform.yourdatastories.eu/project-details"
                            min-height="225"
                            lang="{{ filter.params.lang || 'en' }}">
                    </yds-dashboard-updater>

                    <!--Grid Grouped filter (e.g. for CPVs)-->
                    <yds-dashboard-updater
                            ng-switch-when="grid-grouped"
                            type="selection-grid"
                            grouped-data="true"
                            project-id="none"
                            ignore-own-selection="true"
                            quick-filtering="true"
                            view-type="{{ filter.params.viewType }}"
                            dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                            selection-id="{{ filter.params.selectionId }}"
                            dynamic-dashboard="true"
                            number-of-items="{{ aggregateValues[filter.params.viewType] }}"
                            base-url="http://platform.yourdatastories.eu/project-details"
                            min-height="300"
                            lang="{{ filter.params.lang || 'en' }}">
                    </yds-dashboard-updater>

                    <!--Amount filter-->
                    <yds-large-number-range
                            ng-switch-when="amount"
                            title="{{ filter.params.label }}"
                            selection-type="{{ filter.params.selectionId }}"
                            min-value="{{ filter.params.min }}"
                            max-value="{{ filter.params.max }}">
                    </yds-large-number-range>

                    <div ng-switch-default><span style="color: red; font-weight: bold">
                        Filter not implemented. Configuration:</span> {{ filter }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Dashboard Visualization-->
    <div class="row">
        <div class="col-md-10" style="min-height: 600px">
            <uib-tabset active="dashboardVisActiveTab">
                <uib-tab index="$index" class="{{ 'tab-' + aggregateClasses[$index] }}"
                         ng-repeat="type in aggregates track by $index" select="selectTab($index)">
                    <uib-tab-heading>
                        {{ aggregateTitles[$index] }}
                    </uib-tab-heading>
                    <yds-dashboard-visualization
                            ng-if="dashboardVisActiveTab == $index"
                            class="{{ 'content-' + aggregateClasses[$index] }}"
                            project-id="none"
                            dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                            type="{{ type }}"
                            add-to-basket="true"
                            enable-rating="true"
                            dynamic-dashboard="true"
                            base-url="http://platform.yourdatastories.eu/project-details"
                            paging-threshold="10000"
                            number-of-items="{{ aggregateValues[type] }}"
                            element-h="460">
                    </yds-dashboard-visualization>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-2">
            <yds-dashboard-updater
                    ng-repeat="type in aggregates track by $index"
                    ng-show="aggregateToShow == $index"
                    type="aggregate"
                    project-id="{{ projectId }}"
                    dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                    view-type="{{ type }}"
                    min-height="150"
                    dynamic-dashboard="true"
                    aggregate-value-obj="aggregateValues"
                    aggregate-show-button="false"
                    aggregate-icon-size="3">
            </yds-dashboard-updater>

            <div class="panel panel-default">
                <div class="panel-heading dashboard-info-panel-heading">
                    <h3 class="panel-title">Your selected filters</h3>
                </div>

                <div class="panel-body dashboard-info-container-default">
                    <yds-dashboard-updater
                            type="info-vertical"
                            ng-if="aggregates.length > 0"
                            view-type="{{ dashboardsConfig.selectedDashboard + '.filters.selected' }}"
                            dynamic-dashboard="true"
                            dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                            min-height="90"
                            lang="en">
                    </yds-dashboard-updater>
                </div>
            </div>
        </div>
    </div>

    <!--What else can I do panel-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">What else can I do with the available data?</h3>
                </div>

                <div class="panel-body">
                    <uib-tabset active="ctTab"
                                template-url="templates/tabset-panel-success.html">
                        <uib-tab heading="View Data" index="0">
                            <p class="text-justify">The following table shows all
                                {{ dashboardsConfig.selectedDashboard }}s for the selected seller and
                                buyer countries that span the selected time period. You can obtain the same results
                                through search: an example is provided on the
                                <!--Because of extra scopes created by uib-tab we need
                                to access the ctTab variable like this-->
                                <a ng-click="$parent.$parent.ctTab = 1">search tab</a>.</p>

                            <p class="text-justify">Each {{ dashboardsConfig.selectedDashboard }} has a set of related
                                transactions and sectors.
                                In order to see them, please select a {{ dashboardsConfig.selectedDashboard }} from the
                                table below, and press its
                                “View” button. The related transactions and sectors will be listed in a new page.</p>

                            <!--Items grid-->
                            <yds-dashboard-updater
                                    ng-if="ctTab == 0"
                                    type="grid"
                                    id="dashboard-data-grid"
                                    view-type="{{ dashboardsConfig.selectedDashboard + '.listitems.for.countries.and.period' }}"
                                    dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                                    dynamic-dashboard="true"
                                    add-to-basket="true"
                                    enable-rating="true"
                                    min-height="420"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Search Data" index="1">
                            <p class="text-justify">The following example shows how a detailed search can be performed
                                in the YourDataStories platform, through the “Advanced Search”. The advanced search
                                allows you to graphically create rules that filter specific properties. Auto-completion
                                is also supported!</p>

                            <div class="bs-callout bs-callout-success" style="margin-top: 0">
                                <p class="text-justify">Select seller and buyer countries, change the time period, and
                                    see how the rules are automatically generated. Instructions on
                                    <a href="http://ydsdev.iit.demokritos.gr/YDS-docs/Tutorials/examples/advanced-search-usage">how
                                        to use Advanced Search</a>,
                                    a guided tutorial on filtering with a specific sector, access to the
                                    <a href="http://platform.yourdatastories.eu/content/tabbed-search">full search
                                        interface</a>.</p>
                            </div>

                            <yds-dashboard-updater
                                    ng-if="ctTab == 1"
                                    type="search"
                                    dashboard-id="{{ dashboardsConfig.selectedDashboard }}"
                                    dynamic-dashboard="true"
                                    add-to-basket="true"
                                    min-height="480"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Visualize the data" index="2">
                            <!--Workbench-->
                            <yds-workbench-new
                                    ng-if="ctTab == 2"
                                    user-id="ydsUser"></yds-workbench-new>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <!--Project Info-->
    <div ng-if="showProjectInfo" class="row">
        <div class="col-md-12">
            <ng-include src="detailsUrl"></ng-include>
        </div>
    </div>
</div>
