<div class="component-wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ title }}
        </div>
        <div class="panel-body">
            <div class="row">
                <!--Min value-->
                <div class="col-xs-6">
                    <b>From:</b>
                    <div class="min-number-select"></div>
                </div>

                <!--Max value-->
                <div class="col-xs-6">
                    <b>To:</b>
                    <div class="max-number-select"></div>
                </div>
            </div>
        </div>
    </div>
</div>
