<div class="container" ng-controller="DianeosisController">
    <div class="row">
        <!--Title-->
        <div class="col-md-8">
            <h2>Dianeosis: Students</h2>
        </div>

        <!--Dashboard filter buttons-->
        <div class="col-md-4">
            <yds-clear-filters-button
                    dashboard-id="dianeosis_students"
                    lang="en">
            </yds-clear-filters-button>

            <yds-dashboard-sharing
                    dashboard-id="dianeosis_students"
                    lang="en">
            </yds-dashboard-sharing>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <!--Region selector column-->
        <div class="col-md-5">
            <yds-region-selector-gr
                    region-type="student.regions.all"
                    regional-unit-type="student.regional_units.all"
                    dashboard-id="dianeosis_students"
                    element-h="450">
            </yds-region-selector-gr>
        </div>

        <div class="col-md-5">
            <!--Lesson selector-->
            <div class="row">
                <div class="col-md-12">
                    <yds-dashboard-updater
                            type="combobox-filter"
                            min-height="65"
                            project-id="none"
                            view-type="combobox.student.lessons.all"
                            selection-id="student_lessons"
                            dashboard-id="dianeosis_students"
                            combobox-title="Student Lessons">
                    </yds-dashboard-updater>
                </div>
            </div>

            <!--Excluded Lesson selector-->
            <div class="row">
                <div class="col-md-12">
                    <yds-dashboard-updater
                            type="combobox-filter"
                            min-height="65"
                            project-id="none"
                            view-type="combobox.student.excluded.lessons.all"
                            selection-id="student_not_lessons"
                            dashboard-id="dianeosis_students"
                            combobox-title="Student Lessons (Exclude)">
                    </yds-dashboard-updater>
                </div>
            </div>

            <!--School type selector-->
            <div class="row">
                <div class="col-md-12">
                    <yds-dashboard-updater
                            type="combobox-filter"
                            min-height="65"
                            project-id="none"
                            view-type="combobox.student.school.type.all"
                            selection-id="school_type"
                            dashboard-id="dianeosis_students"
                            combobox-title="School Type">
                    </yds-dashboard-updater>
                </div>
            </div>

            <!--School shift selector-->
            <div class="row">
                <div class="col-md-12">
                    <yds-dashboard-updater
                            type="combobox-filter"
                            min-height="65"
                            project-id="none"
                            view-type="combobox.student.school.shift.all"
                            selection-id="school_shift"
                            dashboard-id="dianeosis_students"
                            combobox-title="School Shift">
                    </yds-dashboard-updater>
                </div>
            </div>

            <!--Year Range filter-->
            <div class="row">
                <div class="col-md-12">
                    <yds-year-range
                            title="Year"
                            enable-bar="false"
                            bar-type="student.resource.count.per.year"
                            lang="en"
                            dashboard-id="dianeosis_students"
                            min-year="2013"
                            max-year="2016">
                    </yds-year-range>
                </div>
            </div>

            <!--Grade Range filter-->
            <div class="row">
                <div class="col-md-12">
                    <yds-year-range
                            title="Grade"
                            selection-type="students_grade_range"
                            enable-bar="false"
                            dashboard-id="dianeosis_students"
                            min-year="0"
                            max-year="200">
                    </yds-year-range>
                </div>
            </div>
        </div>
    </div>

    <!--Dashboard Visualisations-->
    <div class="row">
        <div class="col-md-10" style="min-height: 600px">
            <uib-tabset active="dashboardVisActiveTab">
                <uib-tab index="$index" class="{{ 'tab-' + aggregateClasses[$index] }}"
                         ng-repeat="type in aggregates track by $index" select="selectTab($index)">
                    <uib-tab-heading>
                        {{ aggregateTitles[$index] }}
                    </uib-tab-heading>
                    <yds-dashboard-visualization
                            ng-if="dashboardVisActiveTab == $index"
                            class="{{ 'content-' + aggregateClasses[$index] }}"
                            project-id="none"
                            dashboard-id="dianeosis_students"
                            type="{{ type }}"
                            add-to-basket="true"
                            enable-rating="true"
                            lang="en"
                            base-url="http://platform.yourdatastories.eu/project-details"
                            element-h="460">
                    </yds-dashboard-visualization>
                </uib-tab>
            </uib-tabset>
        </div>

        <div class="col-md-2">
            <yds-dashboard-updater
                    ng-repeat="type in aggregates track by $index"
                    ng-if="aggregateToShow == $index"
                    type="aggregate"
                    project-id="{{ projectId }}"
                    dashboard-id="dianeosis_students"
                    view-type="{{ type }}"
                    min-height="150"
                    aggregate-show-button="false"
                    aggregate-icon-size="3"
                    base-url="http://platform.yourdatastories.eu/project-details"
                    lang="en">
            </yds-dashboard-updater>

            <div class="panel panel-default">
                <div class="panel-heading dashboard-info-panel-heading">
                    <h3 class="panel-title">Your selected filters</h3>
                </div>

                <div class="panel-body dashboard-info-container-default">
                    <yds-dashboard-updater
                            type="info-vertical"
                            view-type="student.filters.selected"
                            dashboard-id="dianeosis_students"
                            min-height="90"
                            lang="en">
                    </yds-dashboard-updater>
                </div>
            </div>
        </div>
    </div>
</div>
