<div class="container" ng-controller="DianeosisController">
    <div class="row">
        <!--Title-->
        <div class="col-md-8">
            <h2>Dianeosis: Students</h2>
        </div>

        <!--Dashboard filter buttons-->
        <div class="col-md-4">
            <yds-clear-filters-button
                    dashboard-id="dianeosis_students"
                    lang="en">
            </yds-clear-filters-button>

            <yds-dashboard-sharing
                    dashboard-id="dianeosis_students"
                    lang="en">
            </yds-dashboard-sharing>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <!--Region selector column-->
        <div class="col-md-5">
            <yds-region-selector-gr
                    region-type="student.regions.all"
                    regional-unit-type="student.regional_units.all"
                    dashboard-id="dianeosis_students"
                    element-h="450">
            </yds-region-selector-gr>
        </div>

        <div class="col-md-5">
            <!--Class selector-->
            <yds-combobox-selector
                    project-id="none"
                    type="combobox.student.lessons.all"
                    use-filter-api="true"
                    selection-type="student_lessons"
                    title="Student Lessons">
            </yds-combobox-selector>
        </div>
    </div>

    <!--Dashboard Visualisations-->
    <div class="row">
        <uib-tabset active="dashboardVisActiveTab">
            <uib-tab index="$index" class="{{ 'tab-' + aggregateClasses[$index] }}" ng-repeat="type in aggregates track by $index" select="selectTab($index)">
                <uib-tab-heading>
                    {{ aggregateTitles[$index] }}
                </uib-tab-heading>
                <yds-dashboard-visualization
                        ng-if="dashboardVisActiveTab == $index"
                        class="{{ 'content-' + aggregateClasses[$index] }}"
                        project-id="none"
                        dashboard-id="dianeosis_students"
                        type="{{ type }}"
                        add-to-basket="true"
                        enable-rating="true"
                        base-url="http://platform.yourdatastories.eu/project-details"
                        element-h="460">
                </yds-dashboard-visualization>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
