<div class="container" ng-controller="TrafficCountsController">
    <div class="row">
        <div class="col-md-8">
            <h2>Galway Traffic</h2>
        </div>
        <div class="col-md-4" style="text-align: right">
            <yds-save-filters-button
                    dashboard-id="galway"
                    lang="{{ lang }}">
            </yds-save-filters-button>

            <yds-clear-filters-button
                    dashboard-id="galway"
                    lang="{{ lang }}">
            </yds-clear-filters-button>

            <yds-dashboard-sharing
                    dashboard-id="galway"
                    lang="{{ lang }}">
            </yds-dashboard-sharing>
        </div>
    </div>

    <div class="row">
        <!--Point selection map-->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p>Click on a traffic count node to display the traffic count data.</p>
                </div>
                <div class="col-md-12">
                    <yds-map
                            project-id="{{ galwayProjectId }}"
                            view-type="contract.trafficobservation.all"
                            enable-rating="true"
                            element-h="400"
                            clicked-point="selectedPoint"
                            lang="{{ lang }}">
                    </yds-map>
                </div>
            </div>
        </div>

        <!--Related Contracts grid-->
        <div class="col-md-6" ng-if="selectedPoint.point.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <!--Description-->
                    <h4>Related projects for
                        <small>{{ selectedPoint.point }}</small>
                    </h4>
                    <p>Select a related project from the list to display more information.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--Selection grid-->
                    <yds-dashboard-updater
                            type="selection-grid"
                            project-id="{{ selectedPoint.point }}"
                            view-type="contract.for.trafficobservation"
                            selection-type="single"
                            selection-id="galway_contract"
                            force-refresh="true"
                            min-height="300"
                            lang="{{ lang }}">
                    </yds-dashboard-updater>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="selectedPoint.point.length > 0">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p>Cordon count data for the <code>{{ selectedPoint.point }}</code> base week counts by year.
                        Select Day or Totals to define the input for the graph.</p>
                </div>
            </div>
            <!--Traffic table-->
            <div class="row">
                <div class="col-md-12">
                    <yds-traffic-observation
                            project-id="{{ galwayProjectId }}"
                            view-type="contract.trafficobservation.per.weekday.over.year"
                            element-h="350"
                            lang="{{ lang }}">
                    </yds-traffic-observation>
                </div>
            </div>
        </div>
    </div>

    <!--Basket-->
    <yds-basket-preview
            user-id="ydsUser">
    </yds-basket-preview>
</div>
