<div class="container" ng-controller="CountryController">
    <!--Header row-->
    <div class="row">
        <!--Country flag + name-->
        <div class="col-md-6">
            <h1 style="font-size: 38px">
                <img ng-src="{{ flagUrl }}"
                     style="height: 50px"
                     title="Flag of {{ countryName }}">
                {{ countryName }}
            </h1>
        </div>

        <!--Country link-->
        <div class="col-md-6">
            <h3 class="pull-right country-project-link">
                <a ng-href="{{ projectId }}" target="_blank">
                    {{ projectId }} <span class="glyphicon glyphicon-link"></span>
                </a>
            </h3>
        </div>
    </div>

    <!--Heatmap & info-->
    <div class="row">
        <!--Heatmap-->
        <div class="col-md-5">
            <yds-heatmap
                    project-id="{{ projectId }}"
                    view-type="country.show"
                    legend="false"
                    exporting="false"
                    color-axis="true"
                    element-h="300"
                    zoom-to-country="true"
                    base-url="http://platform.yourdatastories.eu/country-details"
                    lang="{{ lang }}">
            </yds-heatmap>
        </div>

        <!--Info-->
        <div class="col-md-7">
            <yds-info-table
                    project-id="{{ projectId }}"
                    view-type="country.default"
                    lang="{{ lang }}">
            </yds-info-table>
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <uib-tabset active="activeTab">
                <!--Datasets-->
                <uib-tab index="'datasets'">
                    <uib-tab-heading><i class="fa fa-database" aria-hidden="true"></i> Datasets</uib-tab-heading>

                    <div class="row">
                        <div class="col-md-12">
                            <yds-grid-results
                                    project-id="{{ projectId }}"
                                    view-type="country.datasets"
                                    use-grid-api="true"
                                    element-h="300"
                                    col-resize="true"
                                    view-in-dashboard="true"
                                    add-to-basket="false"
                                    enable-rating="true">
                            </yds-grid-results>
                        </div>
                    </div>

                    <!--DCAT AP Dataset description-->
                    <div class="row">
                        <div class="col-md-12" ng-class="{'dcat-ap-container-min-height': hasSelectedProject}">
                            <yds-dcat-ap-item
                                    ng-if="selectedProject.length > 0"
                                    item-uri="{{ selectedProject }}"
                                    base-url="http://ydsdev.iit.demokritos.gr/YDSComponents/#!/redirect">
                            </yds-dcat-ap-item>
                        </div>
                    </div>
                </uib-tab>

                <!--Products/Industries/Resources tab-->
                <uib-tab index="'pir'">
                    <uib-tab-heading><i class="fa fa-industry" aria-hidden="true"></i> Products/Industries/Resources
                    </uib-tab-heading>

                    <!--Comboboxes row-->
                    <div class="row">
                        <div class="col-md-4">
                            <yds-combobox-selector
                                    project-id="{{ projectId }}"
                                    type="combobox.country.agricultural.products"
                                    use-filter-api="true"
                                    disable-cookies="true"
                                    selection-type="country_agricultural_products"
                                    title="Agricultural Products">
                            </yds-combobox-selector>
                        </div>
                        <div class="col-md-4">
                            <yds-combobox-selector
                                    project-id="{{ projectId }}"
                                    type="combobox.country.industries"
                                    use-filter-api="true"
                                    disable-cookies="true"
                                    selection-type="country_industries"
                                    title="Industries">
                            </yds-combobox-selector>
                        </div>
                        <div class="col-md-4">
                            <yds-combobox-selector
                                    project-id="{{ projectId }}"
                                    type="combobox.country.natural.resources"
                                    use-filter-api="true"
                                    disable-cookies="true"
                                    selection-type="country_natural_resources"
                                    title="Natural Resources">
                            </yds-combobox-selector>
                        </div>
                    </div>

                    <!--Heatmap-->
                    <div class="row">
                        <div class="col-md-12">
                            <yds-dashboard-updater
                                    type="heatmap-simple"
                                    project-id="{{ projectId }}"
                                    view-type="country.producing.countries"
                                    dashboard-id="country_producing_heatmap"
                                    base-url="http://platform.yourdatastories.eu/country-details"
                                    min-height="350">
                            </yds-dashboard-updater>
                        </div>
                    </div>
                </uib-tab>

                <!--Tabs for Trade, Aid Activities and Contracts Dashboards-->
                <uib-tab ng-repeat="tab in dashboardTabs track by $index" index="$index">
                    <uib-tab-heading>
                        <i class="fa" ng-class="tab.iconClass" aria-hidden="true"></i> {{ tab.dashboardName }}
                    </uib-tab-heading>

                    <div class="row">
                        <div class="col-md-12">
                            <ng-include src="tab.descriptionUrl"></ng-include>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <h4>Open {{ tab.dashboardName }} Dashboard with {{ countryName }} as:</h4>

                            <!--Buttons for this Dashboard-->
                            <span ng-repeat="button in tab.buttons">
                                <a ng-href="{{ button.url }}" target="_blank"
                                   class="btn btn-primary btn-lg">{{ button.title }}</a>
                            </span>
                        </div>
                    </div>
                </uib-tab>

                <!--World Development Indicators-->
                <uib-tab index="'wdi'">
                    <uib-tab-heading>
                        <i class="fa fa-tachometer" aria-hidden="true"></i> World Development Indicators
                    </uib-tab-heading>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>World Development Indicators</h4>
                                </div>
                            </div>

                            <!--Indicator selection grid-->
                            <div class="row">
                                <div class="col-md-12">
                                    <yds-grid
                                            project-id="{{ projectId }}"
                                            view-type="country.indicator.search"
                                            allow-selection="true"
                                            selection-type="multiple"
                                            selection-id="country_indicators"
                                            dashboard-id="country_page"
                                            sorting="true"
                                            filtering="true"
                                            col-resize="true"
                                            quick-filtering="true"
                                            element-h="300"
                                            lang="{{ lang }}">
                                    </yds-grid>
                                </div>
                            </div>

                            <!--Indicators over years line chart-->
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-md-12">
                                    <yds-dashboard-updater
                                            type="line"
                                            project-id="{{ projectId }}"
                                            view-type="country.indicators.over.year"
                                            dashboard-id="country_page"
                                            min-height="300"
                                            lang="{{ lang }}">
                                    </yds-dashboard-updater>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <!--Indexes-->
                <uib-tab index="'indexes'">
                    <uib-tab-heading>
                        <img src="img/digiwhist-icon-2x.png" style="height: 14px; width: 14px;"/> Indexes
                    </uib-tab-heading>
                    <uib-tabset type="pills">
                        <!--Tabs for each index-->
                        <uib-tab ng-repeat="index in indexes" heading="{{ index.heading }}">
                            <div class="row">
                                <div class="col-md-12 index-tab-controls-container">
                                    <!--Open in new tab button-->
                                    <a ng-href="{{ index.url }}"
                                       target="_blank"
                                       class="btn btn-primary btn-lg">
                                        <span class="glyphicon glyphicon-share"></span> Open in new tab
                                    </a>

                                    <!--Digiwhist button-->
                                    <a href="http://digiwhist.eu/"
                                       target="_blank"
                                       class="btn btn-info btn-lg">
                                        In cooperation with Digiwhist
                                        <img src="img/digiwhist-icon-2x.png" style="height: 18px; width: 18px;"/>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <!--Index iFrame-->
                                <div class="col-md-12">
                                    <iframe ng-if="activeTab === 'indexes'" ng-src="{{ index.url }}" frameborder="0"
                                            style="width: 100%; min-height: 768px"></iframe>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
