/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2015, 1:10:56 PM
    Author     : Giotis Panagiotis <giotis.p@gmail.com>
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body { height: 100%; }
body #main .container:first-child {
    padding-top: 60px;
    padding-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 20px;
}

.footer .container .row div:nth-child(2){
    border-left: 1px solid #333;
    border-right:1px solid #333;
}
.yds-grey { color: #ddd; }
.yds-blue { color: #1998D5; }

.component-wrapper{ position: relative; }
.heatmap-wrapper { position: relative; }
.heatmap-back {
    position:absolute;
    z-index: 999;
    top: 12px;
    left: 10px;
    font-size: 15px;
    display: none;
    cursor: pointer;
}

.yds-info-wrapper .row { line-height:30px; }
.yds-info-wrapper span{ font-size: 95%; }
.yds-info-wrapper .ngTruncateToggleText { font-weight: bold; }

.statistics-wrapper {
    max-width: 300px;
    min-width: 300px;;
    text-align: center;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    text-transform: uppercase;
}
.statistics-wrapper .col-lg-4:not(:last-child) { border-right: 1px solid #d1d1d1; }
.statistics-wrapper .stat-value { font-size: 26px; }
.statistics-wrapper .stat-title {
    font-weight: bold;
    font-size: 11px;
}

/*.ag-paging-panel { text-align: center; }
#pageRowSummaryPanel { display: none; }*/

#xdm-container {
    margin-top: 50px;
    height: 305px;
    width: 600px;
    border: 1px solid #333;
}
#xdm-container iframe {
    width: 100%;
    height: 100%;
}
.popover {
    z-index: 1005!important;
}
.embed-popover .well {
    word-break:break-all;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.embed-popover .label {
    padding: 5px 5px 4px;
}
.embed-popover button {
    float: right;
}

/*.geo-editing-ctxmenu { padding: 0; }
.geo-editing-ctxmenu .leaflet-popup-content{ margin:0; }
.geo-editing-ctxmenu .leaflet-popup-close-button{ display: none; }*/

/* CSS for Tabbed Search grids to take up all available screen height
   (only for browsers that are not IE or Safari < 6) */
@media screen {
    @media (min-width: 0px) {
        html {
            display: flex;
            flex-direction: column;
        }

        .flex, body, .tab-content, .tab-content > .active, #main, #main > div {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .footer {
            position: relative;
        }

        /* Fix for Bootstrap Datepicker's "Today" button becoming small */
        th.today {
            display: table-cell !important;
        }
    }
}

/* Tabbed Search facets positioning */
.tabbed-facet-container {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 0;
}

/* Rules for hiding tabs in tabbed search */
.hide-tabs {
    border-width: 0;
}

.hide-tabs > div.panel-heading {
    display: none;
}

.hide-tabs > div.panel-body {
    padding: 0;
}

/***************************************/
/******* GEO EDITING COMPONENT *********/
/***************************************/

.geo-edit-wrapper .list-group{
    width:100%;
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 1px;
}
.geo-edit-wrapper .list-group img{
    float: left;
    max-width: 15px;
    margin-right: 7px;
}
.geo-edit-btns {
    margin-top: 20px;
    margin-right: 10px;
}
#geo-edit-map {
    width: 100%;
    height: 400px;
}
.geo-edit-wrapper .list-group-item { background: transparent; }
.geo-edit-wrapper .list-group-item .pull-right {
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}
.geo-edit-add-marker:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 20px;
    bottom: 0;
    left: 22px;
    border-left: 2px solid #414141;
}
.geo-edit-via-marker:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0;
    left: 22px;
    border-left: 2px solid #414141;
}
.geo-edit-end-marker:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 40px;
    left: 22px;
    border-left: 2px solid #414141;
}

/***************************************/
/***** END OF GEO EDITING COMPONENT ****/
/***************************************/


/***************************************/
/********** BROWSE COMPONENT ***********/
/***************************************/

.yds-browse-wrapper .yds-browse-content .btn {
    font-size: 13px;
    background: #f9f9f9;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #ddd;
    padding: 6px 10px 6px 8px;
    margin: 10px auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.yds-browse-wrapper .yds-browse-content .btn span:nth-child(2) {
    width: 72%;
    display: inline-block;
    line-height: 32px;
    margin-right: 5px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    float: left;
}
@media (max-width: 1200px) {
    .yds-browse-wrapper .yds-browse-content .btn span:nth-child(2) {
        width: 66%;
    }
}
@media (max-width: 992px) {
    .yds-browse-wrapper .yds-browse-content .btn span:nth-child(2) {
        width: 53%;
    }
}
.yds-browse-wrapper .yds-browse-content .btn span:nth-child(3) {
    float: right;
    display: inline-block;
    line-height: 32px;
}

.yds-browse-wrapper .yds-browse-content .selected .btn{
    border-color:#1998D5;
}
.yds-browse-wrapper .yds-browse-content .btn .glyphicon {
    font-size: 23px;
    line-height: 30px;
    margin-right: 5px;
}

.yds-browse-wrapper .yds-browse-breadcrumbs {
    display: flex;
}
.yds-browse-wrapper .yds-browse-breadcrumbs>div:not(:last-child) {
    min-height: 100%;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    margin-left: 10px;
}
.yds-browse-wrapper .yds-browse-breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;

}
.yds-browse-wrapper .yds-browse-breadcrumbs ul li:first-child{
    font-style: normal;
}


/**********************************/
/****** CUSTOM YDS BUTTON  ********/
/**********************************/
.btn-yds {
    background-color: #1998D5;
    border-color: #1998D5;
    color: #fff!important;
}
.btn-yds.active.focus, .btn-yds.active:focus,
.btn-yds.active:hover, .btn-yds:active.focus,
.btn-yds:active:focus, .btn-yds:active:hover,
.open>.dropdown-toggle.btn-yds.focus,
.open>.dropdown-toggle.btn-yds:focus,
.open>.dropdown-toggle.btn-yds:hover{
    color: #fff!important;
    background-color: #008599;
    border-color: #008599;
}

/**********************************/
/********** YDS SEARCH ************/
/**********************************/
.yds-advanced-search-btn, .yds-advanced-search-btn:hover { text-decoration: none; }
.yds-advanced-search-wrapper { display: none; }
.yds-advanced-search-wrapper.active{ display: inline; }
.yds-advanced-search-wrapper hr:first-child { margin-top: 2px; }
.yds-advanced-search-wrapper hr:last-child { margin-bottom: 8px; }
.yds-advanced-search .yds-advanced-search-input{ padding-left: 0; }

/**********************************/
/******* SEARCH RESULTS ***********/
/**********************************/
.results-counter {
    margin: 10px 0;
    padding: 0 7px;
    font-style: italic;
}
.results-content .list-group-item h4{
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
}
.results-content .list-group-item .label{
    font-size: 10px;
}
.results-content .external-decision-link{
    border: none;
    padding: 0 6px;
}
/**********************************/
/**** SEARCH RESULTS PREVIEW ******/
/**********************************/
.yds-search-prev-wrapper {
    background: #383E4B;
    position: fixed;
    z-index: 10000;
    top: 51px;
    right: -300px;
    bottom: 0;
    width: 310px;
    box-shadow: -2px 0 9px -3px #444;
    webkit-box-shadow: -2px 0 9px -3px #444;
    padding-right: 0;
    padding-left: 12px;
}
.yds-search-prev-wrapper .yds-search-prev-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 10px;
    overflow-y: auto;
}
.yds-search-prev-title {
    color: #fff;
    padding-top: 21px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
}
.yds-search-prev-wrapper .yds-divider {
    position: absolute;
    top: 16px;
    left: 0;
    background: #383E4B;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
}
.yds-search-prev-wrapper .yds-divider span {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 20px;
}
.yds-search-prev-wrapper.slide-in , .yds-basket-prev-wrapper.slide-in {
    animation: slide-in 1.5s forwards;
    -webkit-animation: slide-in 1.5s forwards;
}
.yds-search-prev-wrapper.slide-out, .yds-basket-prev-wrapper.slide-out {
    animation: slide-out 1.5s forwards;
    -webkit-animation: slide-out 1.5s forwards;
}
@keyframes slide-in {
    0% {
        right: -300px;
        top: 51px;
    }
    100% {
        right: 0;
        top: 51px;
    }
}
@keyframes slide-out {
    0% {
        right: 0;
        top: 51px;
    }
    100% {
        right: -350px;
        top: 51px;
    }
}

.yds-search-prev-inner .component-wrapper {
    padding-top: 10px;
}
/**********************************/
/**** Basket RESULTS PREVIEW ******/
/**********************************/
.yds-basket-prev-wrapper {
    background: #383E4B;
    position: fixed;
    z-index: 10000;
    top: 51px;
    right: -350px;
    bottom: 0;
    width: 360px;
    box-shadow: -2px 0 9px -3px #444;
    webkit-box-shadow: -2px 0 9px -3px #444;
    padding-right: 0;
    padding-left: 12px;
}
.yds-basket-prev-wrapper .yds-basket-prev-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 10px;
    overflow-y: auto;
}
.yds-basket-prev-title {
    color: #fff;
    padding-top: 7px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
}
.yds-basket-prev-wrapper .yds-divider {
    position: absolute;
    top: 66px;
    left: 0;
    background: #383E4B;
    border-radius: 25px;
    margin-left: -20px;
    width: 32px;
    height: 32px;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(90deg);

    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
}
.yds-basket-prev-wrapper .yds-divider span {
    font-size: 20px;
    top:-4px;
    left:6px;
}
.yds-basket-prev-inner .yds-basket-prev-desc {
    word-wrap: break-word;
}
.yds-basket-prev-inner input:first-child {
    padding: 5px 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
}
.yds-basket-prev-inner .row.list-group {
     margin: 5px 0 0 0;
}
.yds-basket-prev-inner div .row div:last-child span{
    cursor: pointer;
}
.yds-basket-prev-inner div.basket-item.active {
    background-color: #f1f1f1;
    color: #333;
    border-color: #ddd;
}
/********************************/
/**** RZSLIDER CUSTOMIZATION ****/
/********************************/
rzslider .rz-pointer {
    height: 16px;
    width: 16px;
    top: -5px;
}
rzslider .rz-pointer:after {
    top: 4px;
    left: 4px;
}

rzslider.vertical .rz-pointer {
    left: -6px !important;
}

/**********************************/
/**** NEW FACETS CUSTOMIZATION ****/
/**********************************/
.yds-checkbox-wrapper .yds-checkbox {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 22px;
}
.yds-checkbox-wrapper .yds-checkbox > div {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}
.yds-checkbox-wrapper ul {
    list-style: none;
    -webkit-padding-start: 0;
    padding-left: 0;
}
.yds-checkbox-wrapper ul li {
    padding-left: 5px;
    padding-right: 5px;
}
.yds-checkbox-wrapper > div:first-child {
    margin-top: 20px;
}.yds-checkbox-wrapper > div {
    margin-bottom: 10px;
}

/*********************************/
/***** BASKET  CUSTOMIZATION *****/
/*********************************/

.basket-modal-body .btn-group .btn{ width: 105px; }

.yds-basket-prev-inner .list-group-item {
     overflow: hidden;
     border-left: 0;
     border-right: 0;
}
.yds-basket-prev-inner .list-group-item:first-child { border-top: 0; }
.basket-public-icon {
    position: absolute;
    top: -17px;
    left: -5px;
    background: #337AB7;
    color: #fff;
    width: 22px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 50px;

    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
}
.basket-public-icon i{
    margin-top: 18px;
    margin-left: 8px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 12px;
}
.yds-basket-prev-delete-btn {
    line-height: 40px;
}

/*******************************************/
/***** YDS WORKBENCH CUSTOMIZATION *********/
/******************************************/

#workbench-basket {
    background-color: #444;
    padding: 10px;
}

.carousel { padding: 10px 20px; }
.carousel-control {
    max-width: 20px;
    background-image:none!important;
}
.carousel-control .glyphicon {
    font-size: 15px;
    line-height: 30px;
    border-radius: 15px;
    background: #337AB7;
}
.carousel-indicators { display: none; }
.carousel-caption {
    padding: 0;
    bottom: 0;
}
.slider-img-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
.slider-img-wrapper.low-opacity {
    opacity: 0.5;
}
.slider-img-wrapper img.active{
    border-color: #337ab7;
}
.slider-img-wrapper img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
}

@media screen and (max-width: 900px) {
    yds-workbench .component-wrapper {
        min-width:900px;
        width: auto !important;
    }
}

.vis-area-wrapper {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
}
.vis-area { min-height: 500px; }
.vis-area-default {
    background: url(../img/vis-not-available.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.workbench-linechart button:not(:last-child),
.workbench-barchart button:not(:last-child),
.workbench-scatterchart button:not(:last-child){
    margin-left: 5px;
}
.unselectable {
    /* This is used to make chart labels unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**********************************/
/******* BOOTSTRAP CALLOUTS ******/
/*********************************/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child { margin-bottom: 0; }
.bs-callout code { border-radius: 3px; }
.bs-callout+.bs-callout { margin-top: -5px; }
.bs-callout-primary { border-left-color: #428bca; }
.bs-callout-primary h4 { color: #428bca; }

.bs-callout-info {
	border-left-color: #47B2E8;
}

/***************************************/
/******* AG-GRID CUSTOMIZATION *********/
/**************************************/
div.ag-root {
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
.ag-paging-page-summary-panel {
    display: block;
    text-align: center;
}

/********************************************/
/******** YDS-COMPONENTS-ADVANCED ***********/
/********************************************/

.component-adv-quick-filter-label {
    float: left;
    line-height: 34px;
    margin-right: 5px;
	padding-bottom:10px;
}
.component-adv-quick-filter {
    width: 150px;
    float: left;
}
.component-adv-dropdown {
    float: right;
}
.component-adv-dropdown select{
    float: left;
    width: 150px;
    margin-left: 5px;
}
.component-adv-dropdown label{
    float: left;
    line-height: 34px;
    margin-left: 10px;
}

.component-adv-dropdown select option {
    min-width: 150px!important;
    width: 150px!important;
    max-width: 150px!important;
}
.component-adv-filter-btn {
    float: right;
    margin-left: 10px;
}

/* Custom font size for Aggregate component label */
.aggregate-label {
    font-size: 16px;
}

/* Custom font size and weight for Aggregate component value */
.aggregate-value {
    font-weight: bold;
    font-size: 20px;
}

/* Custom bootstrap column classes that have custom width
   for Dashboard title and "Data from datasets" widget */
.col-md-3half, .col-md-8half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-3half, .col-md-8half {
        float: left;
    }

    .col-md-8half {
        width: 70%;
    }

    .col-md-3half {
        width: 30%;
    }
}

/* Custom list item padding for "Data from datasets" widget of Dashboard */
.list-group-item-sm {
    padding: 6px 10px;
}

/* Custom Benefactor panel colors */
.panel-benefactor {
    border-color: #D2691E;
}

.panel-benefactor > .panel-heading {
    background-color: #D2691E;
    border-color: #D2691E;
    color: #FFFFFF;
}

/* Accordion rule to give it rounded border */
.dashboard2-accordion > div.panel-group {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
}

/* Remove Firefox outline when clicking accordion panel headings */
a.accordion-toggle:focus, a.accordion-toggle:active {
    outline: none;
}

/* Make corners of panels in accordion not rounded, and remove all borders except top */
.dashboard2-accordion-panel {
    border-color: #BBBBBB;

    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    border-radius: 0!important;
    margin-top: 0!important;
}

/* Remove top border from 1st child in accordion */
.dashboard2-accordion-panel:first-child {
    border-top: 0;
}

/* Gradient for panels in accordion and remove rounded corners */
.dashboard2-accordion-panel > .panel-heading {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    border-radius: 0;
    color: #333;
}

.dashboard2-accordion-panel > .panel-heading {
    padding: 0;
    height: 57px;
}

.dashboard2-accordion-inner-heading {
    height: 57px;
    padding: 15px;
}

.dashboard2-accordion-inner-heading > * {
    vertical-align: middle;
    line-height: 27px;
    height: 27px;
}

.dashboard2-info-popover {
    max-width: 750px;
    width: 750px;
}

/* Make padding of aggregate panel body in Dashboard 2 5px left and right*/
.dashboard2-aggregate-panel > .panel-collapse > .panel-body {
    padding-left: 5px;
    padding-right: 5px;
}

/* Rectangle part of accordion arrow on Dashboard 2 */
.accordion-arrow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,cccccc+100 */
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ededed 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ededed 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    display: inline-block;
    position: relative;
    width: 70px;
    height: 57px;
    margin-right: 35px;
    /* Center text horizontally and vertically */
    text-align: center;
    color: #333;
    vertical-align: middle;
    line-height: 57px;
    /* Make the box be over the child element */
    z-index: 0;
}

.accordion-arrow:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,cccccc+100 */
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ededed 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ededed 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ededed 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    content: "";
    left: 49.5px;
    position: absolute;
    top: 8px;
    width: 40.5px;
    height: 40.5px;

    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    /* Make child be below parent element so text is visible */
    z-index: -1;
}

/* Button style for custom green button */
.btn-green {
    color: #50A150;
    background-color: #F3FFF3;
    border-color: #50A150;
}
.btn-green:hover {
    color: #F3FFF3;
    background-color: #50A150;
    border-color: #50A150;
}

/* Zero padding class */
.zero-padding {
    padding: 0;
}

/* Custom green callout for Dashboard */
.bs-callout-success {
    border-left-color: #50A150;
    background-color: #F3FFF3;
}
.bs-callout-success h4 {
    color: #50A150;
}

/* Rule to make Dashboard info component's labels cyan color */
.dashboard-info-container > yds-dashboard-updater > .dashboard-updater-container > yds-info > .yds-info-wrapper > .row > .col-md-2 > .label {
    background-color: #5bc0de;
}

/* Labels in Dashboard info */
.dashboard-info-container-default > yds-dashboard-updater > .dashboard-updater-container > yds-info > .yds-info-wrapper > .row > div[class*="col-md-"] > .label {
    padding: .2em 10px .3em;
    display: block;
    color: #333;
    text-align: left;
    background-color: #f2f6f9;
    border-radius: 0;
}

/* Remove padding from top and bottom */
.dashboard-info-container-default {
    padding-top: 0;
    padding-bottom: 0;
}

/* Label row */
.dashboard-info-container-default > yds-dashboard-updater > .dashboard-updater-container > yds-info > .yds-info-wrapper > div.row > .col-md-12:nth-child(odd) {
    padding-left: 0;
    padding-right: 0;
}

/* Info rows */
.dashboard-info-container-default > yds-dashboard-updater > .dashboard-updater-container > yds-info > .yds-info-wrapper > div.row > .col-md-12:nth-child(even) {
    padding: .2em 10px .3em;
    line-height: 1.2em;
}

/* Style for heading to show text in 1 line */
.dashboard-info-panel-heading {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

/* Panel with nav tabs CSS */
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

/* Make list in Related Items component scroll */
.related-items-list-container {
    overflow: auto;
}

/* Remove bottom margin from the list */
.related-items-list {
    margin-bottom: 0;
}

/* Remove border radius from list items */
.related-news-item:first-child, .related-tweet-item:first-child {
    border-radius: 0;
    border-top: 0;
}

a.list-group-item.load-more-button:last-child {
    text-align: center;
    border-radius: 0;
    cursor: pointer;
}

a.list-group-item.load-more-button:hover > span.load-more-button-text {
    text-decoration: underline;
}

/* Classes for chart loading animation container*/
.loading-container {
    width: 100%;
    height: 100%;
    display: table;
}

.loading-container-inside {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

/********************************************************************/
/*** PANEL WITH NAV-TABS PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL WITH NAV-TABS SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
    background-color: #d6e9c6;
    border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
    color: #3c763d;
    background-color: #fff;
    border-color: #d6e9c6;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/

.grid-export-btn {
    font-size: 11px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
}

.plain-layout-label, .info-table-title {
    font-weight: bold;
}

/* Aggregate bright link colors */
a.aggregate_link_bright, a.aggregate_link_bright:visited {
    color: #fff;
    text-decoration: underline;
}

a.aggregate_link_bright:hover {
    color: #e4e4e4;
}

/* Aggregate dark link colors */
a.aggregate_link_dark, a.aggregate_link_dark:visited {
    color: #333;
    text-decoration: underline;
}

a.aggregate_link_dark:hover {
    color: #737373;
}

/* Bootstrap link icon after Aggregate links (bright & dark) */
a.aggregate_link_bright:after, a.aggregate_link_dark:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    content: "\e144";
}

/* Classes for "dashboard" aggregate layout */
.aggregate-dashboard-layout {
    text-align: center;
    background-color: #c3c3c3;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 20px;
    border: 1px solid #757575;
    border-radius: 4px;
}

.aggregate-dashboard-value {
    font-size: 25px;
}

.dashboard-btn-active {
    border-width: 5px;
}

/* Aggregate styles for Organisation Seller page */
.aggregate-organisation-buyers-top, .aggregate-organisation-categories-top, .aggregate-organisation-payments-top {
    min-height: 190px;
}

.aggregate-organisation-payments-diavgeia, .aggregate-organisation-projects-nsrf, .aggregate-organisation-buyers-top,
.aggregate-organisation-categories-top, .aggregate-organisation-payments-top,
.aggregate-organisation-buyer-projects-nsrf, .aggregate-organisation-buyer-payments-diavgeia,
.aggregate-organisation-buyer-sellers-top, .aggregate-organisation-buyer-categories-top,
.aggregate-organisation-buyer-payments-top {
    color: #fff;
    border: 0;
}

.aggregate-organisation-projects-nsrf, .aggregate-organisation-buyer-projects-nsrf {
    background: #F79700;
}

.aggregate-organisation-payments-diavgeia, .aggregate-organisation-buyer-payments-diavgeia {
    background: #EA402F;
}

.aggregate-organisation-buyers-top, .aggregate-organisation-buyer-sellers-top {
    background: #5AAF4B;
}

.aggregate-organisation-categories-top, .aggregate-organisation-buyer-categories-top {
    background: #90C341;
}

.aggregate-organisation-payments-top, .aggregate-organisation-buyer-payments-top {
    background: rgb(124, 194, 69);
}

/* Make Highcharts Editor take up 75% of the viewport height */
.highcharts-editor-container {
    height: 75vh;
}

/* Show scrollbar in view/axes selection step of Workbench if content is too long */
.highed-step-body.view-selector-step-body {
    overflow: auto;
}

/* Workbench Library item style */
.workbench-library-item {
    border-color: #ababab;
    border-right: 0;
    border-left: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.workbench-library-item:first-child, .workbench-library-item:last-child {
    border-radius: 0;
}

/* Selected Workbench Library item style */
.workbench-library-item-selected {
    background-color: #e1e1e1;
    border-left: 5px solid;
}

/* Library list max width and centering */
.highed-plugin-details.library-list-container {
    margin: auto;
    max-width: 450px;
}

/* Make Library list step scrollable and have margin */
.highed-step-body.library-list-step-container {
    padding: 20px;
    overflow-y: auto;
}

/* Add padding to view selector step container */
.workbench-view-selector-container {
    padding: 20px;
}

/* Make +/- buttons for Y axis fit into the col-sm-2 container */
.workbench-plus-minus-container {
    padding-left: 0;
    text-align: right;
}

.workbench-plus-minus-container > .btn-group {
    text-align: right;
    display: flex; /* Prevent button wrapping */
}

.workbench-plus-minus-container > .btn-group > button {
    padding: 6px;
    width: 38px;
}

/* Colors for the workbench suggested axis lightbulb icon */
.workbench-suggestion-lightbulb {
    color: orange;
    text-shadow: 0 0 4px rgba(255, 255, 7, 1);
    position: relative;
    left: -13px;
}

/* 0-width div that contains the lightbulb icon */
.lightbulb-container-div {
    position: absolute;
    width: 0;
}

/* Rating buttons styling */
.rating-buttons-container {
    position: absolute;
    bottom: -30px;
    right: 0;
    z-index: 999;
}

/* Rating buttons cursor */
.rating-buttons {
    cursor: pointer;
}

/* Rating text fade out */
.rating-title-text {
    opacity: 0;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

/* Rating text fade in */
.rating-title-text-show {
    opacity: 1.0;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

/* Class for suggested templates in the Highcharts Editor */
.highed-chart-template-preview.template-glow {
    -webkit-box-shadow: 0 0 10px 3px rgba(0,130,222,0.6);
    -moz-box-shadow: 0 0 10px 3px rgba(0,130,222,0.6);
    box-shadow: 0 0 10px 3px rgba(0,130,222,0.6);
}

/* Show grid loading above the grid, with a white background */
.grid-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #ffffff;
}

#gridresults{
	background-color: #ffffff;
}

/* Style of tree dropdown */
.tree-dropdown {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden; /* hides last letters in some cases, but prevents firefox from adding horizontal scrollbar */
    margin-top: -1px;   /* makes the dropdown touch the dropdown toggle */
}

/* Tree dropdown toggle button style */
.tree-dropdown-button {
    text-align: left;
}

.tree-dropdown-selection {
    width: 100%;
    padding-right: 1em;
}

.tree-dropdown-selection > span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tree-dropdown-caret {
    position: absolute;
    height: 10px;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    margin-left: 0;
}

.workbench-loading-container {
    text-align: center;
}

.workbench-loading-text {
    font-size: 16px;
}

td.table-cell-center, th.table-cell-center {
    text-align: center;
}

/* Center the paging status indicator in bar charts */
.bar-buttons-container {
    text-align: center;
}

/* Public Project page - smaller spaces between aggregates */
.basic-facts-row {
    margin-right: -5px;
    margin-left: -5px;
}

.basic-facts-row > .col-md-2 {
    padding-right: 5px;
    padding-left: 5px;
}

/* Public Project completion aggregate - smaller font for content */
.aggregate-publicproject-completion > div.panel-heading > div.row:last-child > div.col-xs-12 > h4 {
    font-size:16px;
    line-height: 1.5;
}

/* Public Project budget aggregate - remove left padding of title to make it fit inside the aggregate */
.aggregate-publicproject-budget > div.panel-heading > div.row:first-child > div.col-xs-9 {
    padding-left: 0;
}

/* Related Items component sentiment classes */
.sentiment-badge {
    font-size: 18px;
    background: none;
}

.ri-sentiment-pos {
    color: #08a800;
}

.ri-sentiment-neut {
    color: #db8a00;
}

.ri-sentiment-neg {
    color: #c30005;
}
