<script type="text/ng-template" id="contract.html">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-12">
                <h4><%- rc.result["title"] %>
                    <% _.each( rc.result.type, function( projType ){ %>
                    <span class="label label-primary"><%- projType %></span>
                    <% }) %>
                </h4>
            </div>
        </div>
        <p><strong><%- rc.attrHeaders.projectId %></strong> : <%- rc.result["projectId"] %></p>
        <p><strong><%- rc.attrHeaders.kind %></strong> : <%- rc.result["kind.prefLabel"] %></p>
        <p><strong><%- rc.attrHeaders.agreedPrice %></strong> : <%- rc.result["agreedPrice.hasCurrencyValue"] %></p>
        <p><strong><%- rc.attrHeaders.estimatedPrice %></strong> : <%- rc.result["estimatedPrice.hasCurrencyValue"] %></p>
        <div ng-hide="results[<%- rc.index %>]._hidden">
            <p><strong><%- rc.attrHeaders.VAT %></strong> : <%- rc.result["hasVat.vatPercentage"] %></p>
            <p><strong><%- rc.attrHeaders.CPV %></strong> : <%- rc.result["hasCpv.cpvCode"] %></p>
            <p><strong><%- rc.attrHeaders.signer %></strong> : <%- rc.result["signer.name"] %></p>
            <p><strong><%- rc.attrHeaders.publisher %></strong> : <%- rc.result["publisher.name"] %></p>
            <p><strong><%- rc.attrHeaders.businessEntity %></strong> : <%- rc.result["BusinessEntity.name"] %></p>
            <p><strong><%- rc.attrHeaders.financialYear %></strong> : <%- rc.result["financialYear"] %></p>
            <p><strong><%- rc.attrHeaders.documentType %></strong> : <%- rc.result["documentType"] %></p>
            <p><strong><%- rc.attrHeaders.documentUrl %></strong> :
                <a class="btn external-decision-link" href="<%- rc.result['documentUrl'] %>"
                   target="_blank"><span class="glyphicon glyphicon-new-window icon-primary"></span></a>
            </p>
            <p><strong><%- rc.attrHeaders.description %></strong> : <%- rc.result["description"] %></p>
            <p><strong><%- rc.attrHeaders.issued %></strong> : <%- rc.result["issued"] %></p>
        </div>
        <div class="row">
            <div class="col col-12 pull-right">
                <div class="btn-group col-md-12" role="group" aria-label="">
                    <button class="btn btn-default btn-md view-result-btn"
                            ng-click="showMore('<%- rc.index %>')">
                        {{ results['<%- rc.index %>']._hidden ? '<%- rc.attrHeaders.showMoreTxt %>' : '<%- rc.attrHeaders.showLessTxt %>' }}
                    </button>
                    <button class="btn btn-default btn-md view-result-btn"
                            ng-click="visitResult('<%- rc.result['id'] %>')">
                        <%- rc.attrHeaders.viewResult %>
                    </button>
                    <!--<button class="btn btn-default btn-md"
                            ng-click="resultsPreview(item, 'bar')">Preview</button>-->
                </div>
            </div>
        </div>
    </li>
</script>