<div class="col-md-12 yds-checkbox-wrapper">
    <div class="row" ng-repeat="facet in fieldFacets track by $index">
        <div class="col col-md-12">
            <h4><span class="label label-default">{{facet.facet_name}}</span></h4>
            <ul>
                <li class="col col-md-12 yds-checkbox"
                    ng-repeat="option in facet.facet_options"
                    title="{{option.name}}">
                    <div>{{option.name}} ({{option.value}})</div>
                    <checkbox ng-model="option.selected" class="pull-right"></checkbox>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" ng-repeat="facet in rangeFacets track by $index">
        <div class="col col-md-12">
            <h4><span class="label label-default">{{facet.facet_name}}</span></h4>
            <rzslider rz-slider-model="facet.facet_options.model"
                      rz-slider-high="facet.facet_options.high"
                      rz-slider-options="facet.facet_options.options"></rzslider>
        </div>
    </div>
    <hr ng-show="initialized">
    <button type="button" class="btn btn-yds btn-block" ng-show="initialized"
            ng-click="applyFacets()" aria-label="Left Align">
        {{applyBtnText}}
    </button>
</div>