<script type="text/ng-template" id="public-project.html">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-12">
                <h4><%- rc.result["title." + rc.lang] %>
                    <% _.each( rc.result.type, function( projType ){ %>
                    <span class="label label-primary"><%- projType %></span>
                    <% }) %>
                </h4>
            </div>
        </div>
        <p><strong><%- rc.attrHeaders.projectId %></strong> : <%- rc.result["projectId"] %></p>
        <p><strong><%- rc.attrHeaders.sector %></strong> : <%- rc.result["sector.prefLabel"] %></p>
        <p><strong><%- rc.attrHeaders.beneficiary %></strong> : <%- rc.result["beneficiary.name"] %></p>
        <p><strong><%- rc.attrHeaders.completion %></strong> : <%- rc.result["completion"] %>%</p>
        <div ng-hide="results[<%- rc.index %>]._hidden">
            <p><strong><%- rc.attrHeaders.date %></strong> : <%- rc.result["startDate"] %> - <%- rc.result["endDate"] %></p>
            <p><strong><%- rc.attrHeaders.issued %></strong> : <%- rc.result["issued"] %></p>
            <p><strong><%- rc.attrHeaders.budget %></strong> : <%- rc.result["hasRelatedBudgetItem.price.hasCurrencyValue"] %></p>
            <p><strong><%- rc.attrHeaders.spending %></strong> : <%- rc.result["hasRelatedSpendingItem.hasExpenditureLine.amount.hasCurrencyValue"] %></p>
            <p><strong><%- rc.attrHeaders.currency %></strong> : <%- rc.result["hasRelatedBudgetItem.price.hasCurrency.prefLabel." + rc.lang] %></p>
            <p><strong><%- rc.attrHeaders.relatedProjects %></strong> : <%- rc.result["countOfRelatedProjects"] %></p>
            <p><strong><%- rc.attrHeaders.description %></strong> : <%- rc.result["description." + rc.lang] %></p>
        </div>
        <div class="row">
            <div class="col col-12 pull-right">
                <div class="btn-group col-md-12" role="group" aria-label="">
                    <button class="btn btn-default btn-md view-result-btn"
                            ng-click="showMore('<%- rc.index %>')">
                        {{ results['<%- rc.index %>']._hidden ? '<%- rc.attrHeaders.showMoreTxt %>' : '<%- rc.attrHeaders.showLessTxt %>' }}
                    </button>
                    <button class="btn btn-default btn-md view-result-btn"
                            ng-click="visitResult('<%- rc.result['id'] %>')">
                        <%- rc.attrHeaders.viewResult %>
                    </button>
                    <!--<button class="btn btn-default btn-md"
                            ng-click="resultsPreview(item, 'bar')">Preview</button>-->
                </div>
            </div>
        </div>
    </li>
</script>