<!-- Result tabs -->
<uib-tabset active="activeTab" class="flex"
            ng-class="{'hide-tabs': hideTabs=='true'}"
            template-url="templates/tabset-panel-primary.html">
    <uib-tab
            index="tab.concept"
            ng-repeat="tab in tabs track by tab.concept"
            select="tabChangeHandler(tab.concept)">
        <uib-tab-heading>
            {{ tab.label }} <span class="label label-info">{{ tab.amount }}</span>
        </uib-tab-heading>

        <!-- Description of concept -->
        <yds-concept-description
                ng-if="hideTabs != 'true'"
                concept-id="{{ tab.id }}"
                lang="{{ lang }}">
        </yds-concept-description>

        <!-- Search bar -->
        <div class="row">
            <div style="padding-top: 20px" class="col-md-12">
                <yds-search
                        lang="{{ lang }}"
                        url-param-prefix="{{ urlParamPrefix }}"
                        watch-rule-url-param="{{ watchRuleUrlParam }}"
                        max-suggestions="15"
                        tabbed="true"
                        enable-adv-search="{{ enableAdvSearch }}"
                        concept="{{ tab.concept }}"
                        concept-id="{{ tab.id }}">
                </yds-search>
            </div>
        </div>

        <!-- Results grid -->
        <yds-grid-results
                ng-class="flexClass"
                project-id="none"
                view-type="{{ tab.concept }}"
                sorting="true"
                lang="{{ lang }}"
                url-param-prefix="{{ urlParamPrefix }}"
                view-in-dashboard="{{ viewInDashboard }}"
                quick-filtering="true"
                element-h="450"
                col-resize="true"
                page-size="250"
                show-results-num="true"
                add-to-basket="{{ addToBasket }}"
                basket-btn-x="400"
                basket-btn-y="0"
                exporting="true"
                export-btn-x="375"
                export-btn-y="0"
                explanation-btn-x="345"
                explanation-btn-y="-1"
                style="margin-bottom: 20px">
        </yds-grid-results>
    </uib-tab>
</uib-tabset>
