<script type="text/ng-template" id="subproject.html">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-12">
                <h4><%- rc.result["title." + rc.lang] %>
                    <% _.each( rc.result.type, function( projType ){ %>
                    <span class="label label-primary"><%- projType %></span>
                    <% }) %>
                </h4>
            </div>
        </div>
        <p><strong><%- rc.attrHeaders.seller %></strong> : <%- rc.result["seller.name"] %></p>
        <p><strong><%- rc.attrHeaders.date %></strong> : <%- rc.result["startDate"] %> - <%- rc.result["endDate"] %></p>
        <p><strong><%- rc.attrHeaders.budget %></strong> : <%- rc.result["hasRelatedBudgetItem.price.hasCurrencyValue"] %></p>
        <div class="row">
            <div class="col col-12 pull-right">
                <div class="btn-group col-md-12" role="group" aria-label="">
                    <button class="btn btn-default btn-md view-result-btn"
                            ng-click="visitResult('<%- rc.result['id'] %>')">
                        <%- rc.attrHeaders.viewResult %>
                    </button>
                </div>
            </div>
        </div>
    </li>
</script>