<div class="component-wrapper" ng-class="{'margin-bottom-30': enableRating == 'true'}">
    <div class="bar-container" style="width:100%;" yds-embed yds-basket-btn yds-rating yds-explanation>
        <div ng-if="loading" class="loading-container">
            <div class="loading-container-inside"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Loading...</div>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ydsAlert}}
        </div>
    </div>
    <div ng-if="enablePaging == 'true'" class="bar-buttons-container clearfix">
        <!--Previous page button-->
        <button
                type="button"
                class="btn btn-sm btn-default pull-left"
                ng-disabled="offset <= 0"
                ng-click="changePage('prev')">
            Previous
        </button>

        <!--Paging status indicator-->
        <span class="bar-paging-status">
            {{ offset }}-{{ nextOffset }}/{{ numberOfItems }}
        </span>

        <!--Next page button-->
        <button
                type="button"
                class="btn btn-sm btn-default pull-right"
                ng-disabled="offset + pageSizeNum >= numberOfItems"
                ng-click="changePage('next')">
            Next
        </button>
    </div>
</div>
