<div class="modal-header">
    <h4 class="modal-title">{{modalConfig.title}}</h4>
</div>
<div class="modal-body basket-modal-body">
    <div class="alert alert-danger" role="alert" ng-if="modalConfig.alert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{modalConfig.alert}}
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Title(*):</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="basketObj.title"
                       ng-change="clearModalWarnings(modalConfig)"
                       placeholder="Enter a title..">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Type: </label>
            <div class="col-sm-9">
                <div class="btn-group">
                    <label class="btn btn-primary"
                           ng-model="basketObj.type"
                           ng-if="modalConfig.restriction.Dataset"
                           uib-btn-radio="'Dataset'">Dataset</label>
                    <label class="btn btn-primary"
                           ng-model="basketObj.type"
                           ng-if="modalConfig.restriction.Visualisation"
                           uib-btn-radio="'Visualisation'">Visualisation</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Access Level: </label>
            <div class="col-sm-9">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="basketObj.is_private" uib-btn-radio="true">Private</label>
                    <label class="btn btn-primary" ng-model="basketObj.is_private" uib-btn-radio="false">Public</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Tags: </label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="basketObj.tags"
                       placeholder="Enter a list of tags (comma-separated)..">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="saveBasketItem()">Add</button>
    <button class="btn btn-active" type="button" ng-click="dismissModal()">Cancel</button>
</div>