<div class="countrylist-container">
    <p ng-if="countries.length == 0">
        Please select a country on the map.<br/>
        <strong>Shift + click</strong> to select multiple countries.
    </p>
    <table ng-if="countries.length > 0" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Country</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="country in countries">
                <td>
                    <img ng-src="{{ blankSrc }}" class="flag flag-{{ country.code }}" alt='{{ country.code }}' />
                </td>
                <td>{{ country.name }}</td>
                <td>{{ country.value }}</td>
            </tr>
        </tbody>
    </table>
</div>
