<div class="modal-header">
    <h4 class="modal-title">{{ modalConfig.title }}</h4>
</div>
<div class="modal-body basket-modal-body">
    <div class="alert alert-danger" role="alert" ng-if="modalConfig.alert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ modalConfig.alert }}
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Title(*):</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       ng-model="libraryObj.title"
                       ng-change="clearModalWarnings(modalConfig)"
                       placeholder="Enter a title...">
            </div>
        </div>
    </form>

    <!--Filters to be saved-->
    <div class="well">
        <h4>Filters to be saved:</h4>
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-3">
                <span class="label label-primary" style="font-size: 95%">Dashboard:</span>
            </div>
            <div class="col-sm-9">{{ libraryObj.dashboard }}</div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <yds-info
                        project-id="none"
                        view-type="{{ modalConfig.infoType }}"
                        label-col-width="3"
                        extra-params="extraParams"
                        lang="{{ modalConfig.lang }}">
                </yds-info>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="saveBasketItem()">Add</button>
    <button class="btn btn-active" type="button" ng-click="dismissModal()">Cancel</button>
</div>
