<div ng-switch="type" ng-style="containerStyle" class="dashboard-updater-container">
    <yds-info
            ng-switch-when="info"
            project-id="none"
            view-type="{{ viewType }}"
            label-col-width="2"
            extra-params="extraParams"
            lang="{{ lang }}">
    </yds-info>

    <yds-grid-results
            ng-switch-when="grid"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            page-size="50"
            quick-filtering="true"
            element-h="400"
            lang="{{ lang }}">
    </yds-grid-results>

    <yds-search-tabs
            ng-switch-when="search"
            default-tab="{{ defaultTab }}"
            url-param-prefix=" {{ urlParamPrefix }}"
            watch-rule-url-param="true"
            hide-tabs="true"
            lang="{{ lang }}">
    </yds-search-tabs>
</div>
