<div ng-switch="type" ng-style="containerStyle" class="dashboard-updater-container">
    <yds-info
            ng-switch-when="info"
            project-id="none"
            view-type="{{ viewType }}"
            label-col-width="2"
            extra-params="extraParams"
            lang="{{ lang }}">
    </yds-info>

    <yds-info
            ng-switch-when="info-vertical"
            project-id="none"
            view-type="{{ viewType }}"
            label-col-width="2"
            extra-params="extraParams"
            vertical="true"
            lang="{{ lang }}">
    </yds-info>

    <yds-donut-pie
            ng-switch-when="donut-pie"
            project-id="none"
            view-type="{{ viewType }}"
            element-h="{{ minHeight }}"
            selection-id="{{ selectionId }}"
            dashboard-id="{{ dashboardId }}"
            extra-params="extraParams"
            lang="{{ lang }}">
    </yds-donut-pie>

    <yds-grid-results
            ng-switch-when="grid"
            project-id="none"
            view-type="{{ viewType }}"
            project-details-type="{{ concept }}"
            extra-params="extraParams"
            page-size="50"
            quick-filtering="true"
            element-h="400"
            view-in-dashboard="true"
            col-resize="true"
            add-to-basket="{{ addToBasket }}"
            basket-btn-x="400"
            basket-btn-y="0"
            exporting="true"
            export-btn-x="375"
            export-btn-y="0"
            show-results-num="true"
            lang="{{ lang }}">
    </yds-grid-results>

    <yds-grid
            ng-switch-when="simple-grid"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            col-resize="true"
            basket-btn-x="2"
            basket-btn-y="2"
            exporting="true"
            export-btn-x="56"
            export-btn-y="2"
            embeddable="true"
            embed-btn-x="30"
            embed-btn-y="2"
            element-h="{{ minHeight }}"
            lang="{{ lang }}">
    </yds-grid>

    <yds-grid
            ng-switch-when="selection-grid"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            selection-type="{{ selectionType }}"
            extra-params="extraParams"
            add-to-basket="false"
            exporting="false"
            embeddable="false"
            col-resize="true"
            grouped-data="{{ groupedData }}"
            allow-selection="true"
            selection-id="{{ selectionId }}"
            dashboard-id="{{ dashboardId }}"
            element-h="{{ minHeight }}"
            lang="{{ lang }}">
    </yds-grid>

    <yds-pie
            ng-switch-when="pie"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            embeddable="true"
            embed-btn-x="40"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-pie>

    <yds-bar
            ng-switch-when="bar"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            embeddable="true"
            embed-btn-x="40"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-bar>

    <yds-tree-map
            ng-switch-when="tree"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            embeddable="true"
            embed-btn-x="40"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-tree-map>

    <yds-bubble
            ng-switch-when="bubble"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            add-to-basket="{{ addToBasket }}"
            extra-params="extraParams"
            embeddable="true"
            embed-btn-x="40"
            lang="{{ lang }}"
            element-h="{{ minHeight }}">
    </yds-bubble>

    <yds-search-tabs
            ng-switch-when="search"
            default-tab="{{ concept }}"
            url-param-prefix=" {{ urlParamPrefix }}"
            add-to-basket="{{ addToBasket }}"
            view-in-dashboard="true"
            watch-rule-url-param="{{ enableAdvSearch }}"
            enable-adv-search="{{ enableAdvSearch }}"
            hide-tabs="true"
            lang="{{ lang }}">
    </yds-search-tabs>

    <yds-aggregate
            ng-switch-when="aggregate"
            project-id="{{ projectId }}"
            dashboard-id="{{ dashboardId }}"
            view-type="{{ viewType }}"
            icon-size="{{ aggregateIconSize }}"
            set-on-init="{{ aggregateSetOnInit }}"
            element-h="{{ minHeight }}"
            show-view-btn="{{ aggregateShowButton }}"
            lang="{{ lang }}"
            extra-params="extraParams">
    </yds-aggregate>
</div>
