<div class="dashboard-info-container">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Selected filters</h3>
            </div>

            <div class="panel-body" style="min-height: 120px">
                <yds-info
                        ng-if="showInfo"
                        project-id="none"
                        view-type="aidactivity.filters.selected"
                        label-col-width="2"
                        extra-params="extraParams"
                        lang="{{lang}}">
                </yds-info>
            </div>
        </div>
    </div>
</div>
