<div class="dashboard-visualization-container">
    <div class="panel panel-default" ng-style="panelStyle">
        <div class="panel-heading clearfix" ng-style="panelHeadingStyle">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">{{ title }}</h3>

            <div class="btn-group btn-group-sm pull-right">
                <button ng-click="selectVis('grid')" class="btn btn-default" title="Grid View">
                    <i class="fa fa-list-alt" aria-hidden="true"></i></button>
                <button ng-click="selectVis('bubble')" class="btn btn-default" title="Pie Chart">
                    <i class="fa fa-circle-o" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="panel-body" ng-style="panelBodyStyle">
            <div ng-if="selViewType.length > 0" ng-switch="selectedVis">
                <!--Grid-->
                <yds-dashboard-updater
                        ng-switch-when="grid"
                        type="simple-grid"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        rating-btn-x="{{ ratingBtnX }}"
                        rating-btn-y="{{ ratingBtnY }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Bar-->
                <yds-dashboard-updater
                        ng-switch-when="bubble"
                        type="bubble"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        rating-btn-x="{{ ratingBtnX }}"
                        rating-btn-y="{{ ratingBtnY }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>
            </div>
        </div>
    </div>
</div>
