<div ng-switch="type" ng-style="containerStyle" class="dashboard-updater-container">
    <yds-info
            ng-switch-when="info"
            project-id="none"
            view-type="{{ viewType }}"
            label-col-width="2"
            extra-params="extraParams"
            lang="{{ lang }}">
    </yds-info>

    <yds-grid-results
            ng-switch-when="grid"
            view-type="{{ viewType }}"
            project-details-type="{{ concept }}"
            extra-params="extraParams"
            page-size="50"
            quick-filtering="true"
            element-h="400"
            lang="{{ lang }}">
    </yds-grid-results>

    <yds-grid
            ng-switch-when="simple-grid"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            col-resize="true"
            basket-btn-x="2"
            basket-btn-y="2"
            exporting="true"
            export-btn-x="56"
            export-btn-y="2"
            embeddable="true"
            embed-btn-x="30"
            embed-btn-y="2"
            element-h="{{ minHeight }}"
            lang="{{ lang }}">
    </yds-grid>

    <yds-pie
            ng-switch-when="pie"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            embeddable="true"
            embed-btn-x="40"
            element-h="{{ minHeight }}">
    </yds-pie>

    <yds-bar
            ng-switch-when="bar"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            embeddable="true"
            embed-btn-x="40"
            element-h="{{ minHeight }}">
    </yds-bar>

    <yds-tree-map
            ng-switch-when="tree"
            project-id="{{ projectId }}"
            view-type="{{ viewType }}"
            extra-params="extraParams"
            add-to-basket="{{ addToBasket }}"
            embeddable="true"
            embed-btn-x="40"
            element-h="{{ minHeight }}">
    </yds-tree-map>

    <yds-search-tabs
            ng-switch-when="search"
            default-tab="{{ concept }}"
            url-param-prefix=" {{ urlParamPrefix }}"
            watch-rule-url-param="true"
            hide-tabs="true"
            lang="{{ lang }}">
    </yds-search-tabs>

    <yds-aggregate
            ng-switch-when="aggregate"
            project-id="{{ projectId }}"
            dashboard-id="{{ dashboardId }}"
            view-type="{{ viewType }}"
            icon-size="{{ aggregateIconSize }}"
            set-on-init="{{ aggregateSetOnInit }}"
            element-h="{{ minHeight }}"
            extra-params="extraParams">
    </yds-aggregate>
</div>
