<div class="dashboard-visualization-container">
    <div class="panel panel-default" ng-style="panelStyle">
        <div class="panel-heading clearfix" ng-style="panelHeadingStyle">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">{{ title }}</h3>

            <!--Amount/Count radio buttons-->
            <div class="btn-group btn-group-sm" style="margin-left: 250px">
                <label class="btn btn-default" ng-model="aggregateRadio" uib-btn-radio="'amount'">Amount</label>
                <label class="btn btn-default" ng-model="aggregateRadio" uib-btn-radio="'count'">Count</label>
            </div>

            <!--Chart type radio buttons-->
            <!--todo: make actual radio buttons??-->
            <div class="btn-group btn-group-sm pull-right" id="vistypes">
                <button ng-click="selectVis('grid')" class="btn btn-default" title="Grid View">
                    <i class="fa fa-list-alt" aria-hidden="true"></i></button>
                <button ng-click="selectVis('pie')" class="btn btn-default" title="Pie Chart">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i></button>
                <button ng-click="selectVis('bar')" class="btn btn-default" title="Bar Chart">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i></button>
                <button ng-click="selectVis('tree')" class="btn btn-default" style="max-width: 35px; max-height: 30px"
                        title="Treemap Chart">
                    <img src="fonts/ic_view_quilt_black_18px.svg"/></button>
            </div>
        </div>
        <div class="panel-body" ng-style="panelBodyStyle">
            <div ng-if="selViewType.length > 0" ng-switch="selectedVis">
                <!--Grid-->
                <yds-dashboard-updater
                        ng-switch-when="grid"
                        ng-if="!usePaging"
                        type="simple-grid"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        aggregate-type="{{ aggregateRadio }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Grid (with paging)-->
                <yds-dashboard-updater
                        ng-switch-when="grid"
                        ng-if="usePaging"
                        type="grid-paging"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        aggregate-type="{{ aggregateRadio }}"
                        number-of-items="{{ numberOfItems }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Pie-->
                <yds-dashboard-updater
                        ng-switch-when="pie"
                        type="pie"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        aggregate-type="{{ aggregateRadio }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Bar-->
                <yds-dashboard-updater
                        ng-switch-when="bar"
                        ng-if="!usePaging"
                        type="bar"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        aggregate-type="{{ aggregateRadio }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Bar (with paging)-->
                <yds-dashboard-updater
                        ng-switch-when="bar"
                        ng-if="usePaging"
                        type="bar-paging"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        base-url="{{ baseUrl }}"
                        aggregate-type="{{ aggregateRadio }}"
                        number-of-items="{{ numberOfItems }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>

                <!--Treemap-->
                <yds-dashboard-updater
                        ng-switch-when="tree"
                        type="tree"
                        project-id="{{ selProjectId }}"
                        view-type="{{ selViewType }}"
                        dashboard-id="{{ dashboardId }}"
                        min-height="{{ elementH }}"
                        aggregate-type="{{ aggregateRadio }}"
                        base-url="{{ baseUrl }}"
                        add-to-basket="{{ addToBasket }}"
                        enable-rating="{{ enableRating }}"
                        lang="{{ lang }}">
                </yds-dashboard-updater>
            </div>
        </div>
    </div>
</div>
