<div class="component-wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Attributes</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in itemData">
            <td>
                <!--Attribute label with URL-->
                <span ng-if="item.key.url.length > 0">
                    <a ng-href="{{item.key.url}}">
                        {{ item.key.label }}
                    </a>
                </span>

                <!--Attribute label without URL-->
                <span ng-if="item.key.url === undefined">
                    {{ item.key.label }}
                </span>
            </td>
            <td>
                <div class="dcat-value">
                    {{ item.value.label }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
