<div>
    <table class="table table-striped">
        <thead>
        <th>Repository</th>
        <th>Method</th>
        <th>URL</th>
        <th>Data</th>
        <th>Execute</th>
        </thead>
        <tbody>
        <tr ng-repeat="query in queries"
            ng-click="showGrid(query)"
            ng-class="{ 'explanation-query-row': query.repository === 'Solr',
                        'explanation-query-row-selected': query.selected }">
            <!--Repository-->
            <td class="explanation-query-method">
                <span class="label label-primary">
                    {{ query.repository }}
                </span>
            </td>

            <!--Method (GET/POST)-->
            <td class="explanation-query-method">
                <span class="label label-info">
                    {{ query.method }}
                </span>
            </td>

            <!--Query URL-->
            <td class="explanation-query-url">
                <a ng-href="{{ query.url }}" target="_blank">{{ query.url }}</a>
            </td>

            <!--Query Data-->
            <td>{{ query.data || "-" }}</td>

            <!--Execute query button-->
            <td>
                <a ng-href="{{ query.executeQueryUrl }}"
                   ng-disabled="!query.executeQueryUrl.length > 0"
                   target="_blank"
                   class="btn btn-success">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
