<div>
    <table class="table table-striped">
        <thead>
        <th>Repository</th>
        <th>Method</th>
        <th>URL</th>
        <th>Data</th>
        </thead>
        <tbody>
        <tr ng-repeat="query in queries">
            <!--Repository-->
            <td class="explanation-query-method">
                <span class="label label-primary">
                    {{ query.repository }}
                </span>
            </td>

            <!--Method (GET/POST)-->
            <td class="explanation-query-method">
                <span class="label label-info">
                    {{ query.method }}
                </span>
            </td>

            <!--Query URL-->
            <td class="explanation-query-url">
                <a ng-href="{{ query.url }}" target="_blank">{{ query.url }}</a>
            </td>

            <!--Query Data-->
            <td>{{ query.data || "-" }}</td>

            <!--Play query button-->
            <td>
                <!--Button with link-->
                <a ng-href="{{ query.executeQueryUrl }}"
                   ng-if="!query.gridBtn"
                   ng-disabled="!query.executeQueryUrl.length > 0"
                   target="_blank"
                   class="btn btn-success">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>

                <!--Button that shows modifies URL parameters-->
                <button ng-click="showGrid(query)"
                        ng-if="query.gridBtn"
                        class="btn btn-success">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
