<div class="col-md-12 yds-checkbox-wrapper">
    <div class="row" >
        <div class="col col-md-12">
            <h4><span class="label label-default">Geographical Area</span></h4>
            <ul>
                <li class="col col-md-12 yds-checkbox"
                    ng-repeat="item in checkboxes"
                    title="{{item.name}}">
                    <div>{{item.name}}</div>
                    <checkbox ng-model="item.selected" class="pull-right"></checkbox>

                    <!-- *** Apply Different values for true and false ***
                     ng-true-value="The Truth"
                     ng-false-value="The Untruth"
                     ng-change="onChange()"--->
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <h4><span class="label label-default">Budget</span></h4>
            <rzslider rz-slider-model="budgetSlider.minValue"
                     rz-slider-high="budgetSlider.maxValue"
                     rz-slider-options="budgetSlider.options"></rzslider>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <h4><span class="label label-default">Completion Rate</span></h4>
            <rzslider rz-slider-model="completionSlider.minValue"
                      rz-slider-high="completionSlider.maxValue"
                      rz-slider-options="completionSlider.options"></rzslider>
        </div>
    </div>
    <hr/>
    <button type="button" class="btn btn-yds btn-block"
            ng-click="applyFilters()" aria-label="Left Align">
        Apply
    </button>

</div>