<div class="col-md-12">
    <div class="row" ng-if="angular.isUndefined(facets) || facets.length==0">
        <h4 class="text-center">Sorry, there are not available facets for your search.</h4>
    </div>
    <div class="row" ng-repeat="(key, value) in facets" >
        <h3 class="text-center">{{key}}</h3>
        <div class="list-group">
            <a href="#"
               class="list-group-item"
               ng-repeat="(fname, fcount) in value"
               ng-class="{'active': _.findIndex(rawAppliedFacets, {category: key, value: fname})>-1}"
               ng-click="updateFilter(key,fname)">
                {{fname}}<span class="badge">{{fcount}}</span>
            </a>
        </div>
    </div>
</div>