<div class="component-wrapper" ng-class="{'margin-bottom-30': enableRating == 'true'}">
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ydsAlert}}
    </div>
    <div ng-if="quickFiltering=='true'">
        <div class="component-adv-quick-filter-label"><i class="glyphicon glyphicon-filter"></i>Quick Filter:</div>
        <input type="text"
               class="form-control component-adv-quick-filter"
               ng-model="quickFilterValue"
               ng-change="applyQuickFilter(quickFilterValue)"/>
        <div style="clear: both"></div>
    </div>
    <button type="button" class="btn btn-default btn-xs grid-export-btn"
            ng-if="exporting == 'true'" ng-style="exportBtnPos" ng-click="exportGrid()">
        <span class="glyphicon glyphicon-save-file"></span>
    </button>
    <div ng-if="loading" class="grid-loading loading-container">
        <div class="loading-container-inside"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Loading...</div>
    </div>
    <div ng-hide="loading" style="height: 100%; margin-top:10px;" class="ag-fresh grid-container" yds-embed yds-basket-btn yds-rating></div>
</div>
