<div class="component-wrapper flex">
    <uib-alert type="danger" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ydsAlert}}
    </uib-alert>
    <div>
        <div class="component-adv-quick-filter-label"><i class="glyphicon glyphicon-filter"></i>Quick Filter:</div>
        <input type="text"
               class="form-control component-adv-quick-filter"
               ng-model="quickFilterValue"/>

        <button type="button"
                ng-click="clearComboFilters()"
                class="btn btn-default component-adv-filter-btn">Clear</button>
        <button type="button"
                ng-click="applyComboFilters()"
                class="btn btn-primary component-adv-filter-btn">Apply Filters</button>
        <div ng-repeat="combo in comboboxFilters">
            <div class="form-group  component-adv-dropdown">
                <label>{{combo.label}}:</label>
                <select class="form-control"
                        ng-model="combo.selected"
                        ng-options="item as item.header for item in comboboxData[combo.attribute]">
                    <option value="">Choose...</option>
                </select>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="min-height: {{elementH}}px" class="flex ag-fresh grid-container" yds-basket-btn></div>
</div>