<div class="component-wrapper flex">
    <div uib-alert class="alert-danger" ng-if="ydsAlert.length>0" close="hideAlert()">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ydsAlert}}
    </div>
    <div ng-show="quickFiltering=='true'">
        <div class="component-adv-quick-filter-label"><i class="glyphicon glyphicon-filter"></i>Quick Filter:</div>
        <input type="text"
               class="form-control component-adv-quick-filter"
               ng-model="quickFilterValue"/>

        <button type="button"
                ng-click="clearComboFilters()"
                class="btn btn-default component-adv-filter-btn">Clear</button>
        <button type="button"
                ng-click="applyComboFilters()"
                class="btn btn-primary component-adv-filter-btn">Apply Filters</button>
        <div ng-repeat="combo in comboboxFilters">
            <div class="form-group  component-adv-dropdown">
                <label>{{combo.label}}:</label>
                <select class="form-control"
                        ng-model="combo.selected"
                        ng-options="item as item.header for item in comboboxData[combo.attribute]">
                    <option value="">Choose...</option>
                </select>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <button type="button" class="btn btn-default btn-xs grid-export-btn" ng-class="exportBtnClass"
            ng-if="exporting == 'true'" ng-style="exportBtnPos" ng-click="exportGrid()">
        <span class="glyphicon glyphicon-save-file"></span>
    </button>
    <div class="flex ag-fresh grid-container" yds-basket-btn></div>
    <div ng-if="showResultsNum == 'true'" class="grid-results-num-row">
        Results: {{ resultsNum }}
    </div>
</div>