<div class="heatmap-wrapper">
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ydsAlert}}
    </div>
    <div class="heatmap-container" style="width: 100%;"></div>

    <div ng-if="yearSelection=='true'">
        <div class="col-md-3">
            <p style="font-weight: bold" class="pull-right">Year:</p>
        </div>
        <div class="col-md-6">
            <rzslider rz-slider-options="yearSlider.options"
                    rz-slider-model="yearSlider.value"></rzslider>
        </div>
    </div>
</div>
