<div class="hybrid-container col-md-12" style="min-height: 300px; height: 100vh; padding: 0">
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <b>Error:</b> {{ ydsAlert }}
    </div>
    <div ng-switch="vizType" style="min-height: 300px; height: 100vh" id="hybrid-vis-container">
        <yds-bar
                ng-switch-when="bar"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                extra-params="extraParams"
                title-size="{{ titleSize }}"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-bar>

        <yds-pie
                ng-switch-when="pie"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                extra-params="extraParams"
                title-size="{{ titleSize }}"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-pie>

        <yds-line
                ng-switch-when="line"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                title-size="{{ titleSize }}"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-line>

        <yds-scatter
                ng-switch-when="scatter"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                title-size="{{ titleSize }}"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-scatter>

        <yds-bubble
                ng-switch-when="bubble"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                legend="false"
                title-size="{{ titleSize }}"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-bubble>

        <yds-tree-map
                ng-switch-when="tree"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                extra-params="extraParams"
                title-size="{{ titleSize }}"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-tree-map>

        <yds-map
                ng-switch-when="map"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-map>

        <yds-grid-results
                ng-switch-when="grid-results"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                project-details-type="{{ projectDetailsType }}"
                extra-params="extraParams"
                page-size="50"
                element-h="{{ elementH }}"
                view-in-dashboard="false"
                col-resize="true"
                add-to-basket="false"
                exporting="false"
                show-results-num="false"
                disable-explanation="true"
                lang="{{ lang }}">
        </yds-grid-results>

        <yds-grid
                ng-switch-when="grid"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                extra-params="extraParams"
                lang="{{ lang }}"
                disable-explanation="true"
                element-h="{{ elementH }}">
        </yds-grid>

        <yds-grid-results
                ng-switch-when="grid-paging"
                project-id="{{ projectId }}"
                view-type="{{ viewType }}"
                project-details-type="{{ projectDetailsType }}"
                number-of-items="{{ numberOfItems }}"
                extra-params="extraParams"
                page-size="50"
                element-h="{{ elementH }}"
                col-resize="true"
                use-grid-api="true"
                quick-filtering="false"
                enable-view-button="false"
                add-to-basket="false"
                exporting="false"
                show-results-num="false"
                disable-explanation="true"
                lang="{{ lang }}">
        </yds-grid-results>
    </div>
</div>
