<div class="yds-info-wrapper">
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ydsAlert}}
    </div>
    <div class="row" ng-repeat="(key, infoObj) in info">
        <div class="col" ng-class="labelCol"><span class="label label-primary">{{key}}:</span></div>
        <div class="col" ng-class="infoCol" ng-if="infoObj.type=='string-i18n-long'"
             ng-tt-more-label="{{translations.showMore}}"
             ng-tt-less-label="{{translations.showLess}}"
             ng-text-truncate="infoObj.value" ng-tt-words-threshold="40">
            {{infoObj.value}}
        </div>
        <div class="col col-md-8" ng-if="infoObj.type!='string-i18n-long' && infoObj.type!='url' && infoObj.type!='country_code_name_array'">{{infoObj.value}}</div>
        <div class="col col-md-8" ng-if="infoObj.type=='url' || infoObj.type=='country_code_name_array'" ng-bind-html="infoObj.value"></div>
    </div>
</div>
