<div class="component-wrapper">
    <div class="pie-container" style="width:100%;" yds-embed yds-basket-btn yds-rating>
        <div ng-if="loading" class="loading-container">
            <div class="loading-container-inside"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Loading...</div>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ydsAlert}}
        </div>
    </div>
</div>
