<div class="related-items-container">
    <uib-tabset>
        <uib-tab ng-repeat="tab in data track by $index">
            <uib-tab-heading>
                <i class="fa" ng-class="tab.icon" aria-hidden="true"></i>
                {{ tab.title }}
            </uib-tab-heading>
            <div class="related-items-list-container" ng-style="listContainerStyle">
                <ul ng-switch="tab.type" class="list-group related-items-list">
                    <!--News/Blog posts-->
                    <a ng-switch-when="news" ng-repeat="item in tab.data"
                       href="{{ item.url }}"
                       class="list-group-item related-news-item"
                       target="_blank">
                        {{ item.text }}
                    </a>

                    <!--Tweets-->
                    <a ng-switch-when="tweet" ng-repeat="item in tab.data"
                       href="{{ item.url }}"
                       class="list-group-item related-tweet-item"
                       target="_blank">
                        {{ item.text }}
                    </a>
                </ul>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
