<div class="related-items-container">
    <uib-tabset>
        <uib-tab ng-repeat="tab in tabs track by $index">
            <uib-tab-heading>
                <i class="fa" ng-class="tab.icon" aria-hidden="true"></i>
                {{ tab.title }} ({{ tab.total || 0 }})
            </uib-tab-heading>
            <div class="related-items-list-container" ng-style="listContainerStyle">
                <ul ng-switch="tab.viewType" class="list-group related-items-list">
                    <!--News/Blog posts-->
                    <a ng-switch-when="news" ng-repeat="item in tab.data"
                       href="{{ item.url }}"
                       class="list-group-item related-news-item"
                       target="_blank">
                        {{ item.text }}

                        <!--Sentiment badge-->
                        <span class="badge sentiment-badge">
                            <i class="fa"
                               ng-class="{'fa-smile-o ri-sentiment-pos': item.polarity == '+1', 'fa-meh-o ri-sentiment-neut': item.polarity == '0', 'fa-frown-o ri-sentiment-neg': item.polarity == '-1'}"
                               aria-hidden="true"></i>
                        </span>
                    </a>

                    <!--Tweets-->
                    <a ng-switch-when="tweet" ng-repeat="item in tab.data"
                       href="{{ item.url }}"
                       class="list-group-item related-tweet-item"
                       target="_blank">
                        {{ item.text }}
                    </a>

                    <!--Load more button-->
                    <a class="list-group-item load-more-button"
                       ng-if="tab.hasMore"
                       ng-click="loadMore(tab.title)">
                        <i ng-if="loading" class="fa fa-spinner fa-pulse fa-fw"></i>
                        <span class="load-more-button-text">Load more</span>
                    </a>
                </ul>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
