<!-- Result tabs -->
<uib-tabset active="active">
    <uib-tab
            index="$index"
            ng-repeat="tab in tabs track by $index"
            active="tab.active"
            select="tabChangeHandler(tab.concept)">
        <uib-tab-heading>
            {{ tab.label }} <span class="label label-primary">{{ tab.amount }}</span>
        </uib-tab-heading>

        <!-- Search bar -->
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <yds-search
                        lang="en"
                        max-suggestions="15"
                        tabbed="true"
                        concept="{{tab.concept}}">
                </yds-search>
            </div>
        </div>

        <!-- Results grid -->
        <yds-grid-results
                view-type="{{tab.concept}}"
                sorting="true"
                lang="en"
                filtering="true"
                quick-filtering="true"
                element-H="400"
                col-resize="true"
                page-size="100"
                add-to-basket="true"
                basket-btn-x="400"
                basket-btn-y="0">
        </yds-grid-results>
    </uib-tab>
</uib-tabset>
