<!-- Result tabs -->
<uib-tabset active="active" class="flex">
    <uib-tab
            index="$index"
            ng-repeat="tab in tabs track by $index"
            active="tab.active"
            select="tabChangeHandler(tab.concept)">
        <uib-tab-heading>
            {{ tab.label }} <span class="label label-primary">{{ tab.amount }}</span>
        </uib-tab-heading>

        <!-- Description of concept -->
        <yds-concept-description
            concept-id="{{tab.id}}"
            lang="{{lang}}">
        </yds-concept-description>

        <!-- Search bar -->
        <div class="row">
            <div style="padding-top: 20px" class="col-md-12">
                <yds-search
                        lang="en"
                        max-suggestions="15"
                        tabbed="true"
                        concept="{{tab.concept}}"
                        concept-id="{{tab.id}}">
                </yds-search>
            </div>
        </div>

        <!-- Results grid -->
        <yds-grid-results
                class="flex"
                view-type="{{tab.concept}}"
                sorting="true"
                lang="{{lang}}"
                filtering="true"
                quick-filtering="true"
                element-H="400"
                col-resize="true"
                page-size="50"
                add-to-basket="true"
                basket-btn-x="400"
                basket-btn-y="0">
        </yds-grid-results>
    </uib-tab>
</uib-tabset>
