<div class="col-md-12">
    <uib-tabset active="active">
        <uib-tab
                index="$index"
                ng-repeat="tab in tabs track by $index"
                heading="{{ tab.name }}"
                active="tab.active"
                select="tabChangeHandler(tab.name)">
            <!--searchQuery="???"-->

            <yds-grid-results
                    view-type="{{tab.name}}"
                    sorting="true"
                    lang="en"
                    filtering="true"
                    quick-filtering="true"
                    element-H="300"
                    col-resize="true"
                    paging="true"
                    page-size="10"
                    add-to-basket="true"
                    basket-btn-x="400"
                    basket-btn-y="0">
            </yds-grid-results>
        </uib-tab>
    </uib-tabset>
</div>