<form novalidate name="searchForm" ng-submit="search(searchForm)">
    <div class="input-group">
        <input type="text" name="keyword" class="form-control"
               placeholder="{{placeholder}}"
               ng-model="searchOptions.searchKeyword"
               uib-typeahead="suggestion for suggestion in getSuggestions($viewValue)"
               typeahead-popup-template-url="templates/search-typeahead-popup.html"
               typeahead-focus-first="false"
               autocomplete="off"
               ng-required="true">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{{searchBtnText}}</button>
        </span>
    </div>
</form>
<div class="row" ng-if="searchOptions.standalone=='false' && tabbed == 'true'">
    <div class="col-xs-12 text-right">
        <a type="button"
                ng-click="toggleAdvancedSearch()"
                class="btn btn-link yds-advanced-search-btn">
            {{searchOptions.advancedVisible ? "Hide Advanced Search" : "Show Advanced Search"}}</a>
    </div>
</div>
<div class="yds-advanced-search-wrapper" ng-class="searchOptions.advancedVisible ? 'active' : ''">
    <hr>
    <!--Query Builder Error-->
    <div ng-if="validationError" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Validation Error:</span>
        Please check that you have filled every query builder field!
    </div>

    <!--Query Builder-->
    <query-builder
            builder-id="builderId"
            lang="{{lang}}"
            concept="{{concept}}"
            max-suggestions="10">
    </query-builder>

    <button ng-click="advancedSearch()" class="btn btn-default pull-right">Advanced Search</button>
    <div style="clear: both"></div>
    <hr>
</div>