<div class="component-wrapper">
    <div class="traffic-observation-container">
        <table class="table table-striped">
            <tr ng-if="showDurationHeaders">
                <th></th>
                <th class="table-cell-center">BEFORE</th>
                <th class="table-cell-center">DURING</th>
                <th class="table-cell-center" colspan="2">AFTER</th>
            </tr>

            <!--Table header-->
            <tr>
                <th ng-repeat="heading in columnDefs track by $index"
                    ng-class="{'table-cell-center': !$first}">
                    {{ heading.headerName }}
                </th>
                <th class="table-cell-center">Chart</th>
            </tr>

            <!--Table rows-->
            <tr ng-repeat="row in rowData track by $index" ng-init="rowIndex = $index">
                <!--Columns-->
                <td ng-repeat="column in columnDefs track by $index" ng-class="{'table-cell-center': !$first}">
                    <!--Field name in a button, for selection-->
                    <span ng-if="allowSelection === 'true' && $index === 0">
                        <button ng-click="selectRow(rowIndex, row)" class="btn btn-xs btn-default" type="button">
                            {{ row[column.field] }}
                        </button>
                    </span>

                    <!--Raw field name-->
                    <span ng-if="allowSelection !== 'true' || $index > 0">
                        {{ row[column.field] }}
                    </span>
                </td>

                <!--Sparkline column-->
                <td style="padding: 3px">
                    <div ng-attr-id="{{ row.id }}"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
