<div class="tree-dropdown-container">
    <!--Dropdown-->
    <div uib-dropdown
         is-open="dropdownOpen"
         dropdown-append-to-body="true"
         auto-close="outsideClick">
        <span class="btn btn-default form-control tree-dropdown-button"
              uib-dropdown-toggle>
            <span class="tree-dropdown-selection pull-left">
                <span>{{ selectedNode.name || placeholder}}</span>
            </span>
            <i class="tree-dropdown-caret caret pull-right"></i>
        </span>
        <div class="tree-dropdown" uib-dropdown-menu>
            <!--Tree-->
            <tree nodes="treeNodes" options="options"></tree>
        </div>
    </div>
</div>
