<div class="component-wrapper ">
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ydsAlert}}
    </div>
    <div class="row">
        <div class="col-xs-3">

            <div class="yds-basket-prev-content" id="workbench-basket">
                <div class="yds-basket-prev-title text-center">
                    <div class="btn-group btn-group-justified">
                        <label class="btn btn-primary">My Datasets</label>
                    </div>
                </div>
                <div class="yds-basket-prev-inner">
                    <input type="text" ng-model="basketVars.searchText" placeholder="Search basket.."/>
                    <div ng-if="basketVars.basketList.length>0" class="row list-group">
                        <div ng-repeat="item in basketVars.basketList | filter:customBasketFilter(basketVars.   searchText)"
                             class="list-group-item basket-item"
                             ng-click="selectBasketItem($index)" ng-class="item.selected ? 'active' : ''">
                            <div class="row" >
                                <div class="basket-public-icon">
                                    <i class="glyphicon"
                                       title="{{ item.is_private ? 'The resource is private.' : 'The resource is public.'}}"
                                       ng-class="(item.is_private) ? 'glyphicon-eye-close' : 'glyphicon-eye-open'"></i>
                                </div>
                                <div class="col-md-9 col-md-offset-1 yds-basket-prev-desc">
                                        <b>{{item.title}}</b><br/>
                                    <label for="">Tags: </label><span ng-repeat="tag in item.tags">{{tag}}{{$last ? '' : ', '}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="basketVars.basketList.data.length==0" class="row list-group"
                         style="border: 0.5px solid grey; margin-top: 10px; padding: 10px;">
                        <a class="list-group-item">
                            <h4>We are sorry we could not find any item in your basket..</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <uib-carousel active="active"  no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <div class="col-xs-4 slider-img-wrapper"
                         ng-class="slide.images[0].visible ? '' : 'low-opacity'"
                         ng-if="slide.images[0].src!=undefined" ng-click="selectVisualisation(slide.id, slide.images[0].type)">
                        <img ng-src="{{slide.images[0].src}}" ng-class="workbenchVars.selectedVis==slide.images[0].type?'active':''">
                        <div class="carousel-caption" >
                            <p>{{slide.images[0].name}}</p>
                        </div>
                    </div>
                    <div class="col-xs-4 slider-img-wrapper"
                         ng-class="slide.images[1].visible ? '' : 'low-opacity'"
                         ng-if="slide.images[1].src!=undefined" ng-click="selectVisualisation(slide.id, slide.images[1].type)">
                        <img ng-src="{{slide.images[1].src}}" ng-class="workbenchVars.selectedVis==slide.images[1].type?'active':''">
                        <div class="carousel-caption">
                            <p>{{slide.images[1].name}}</p>
                        </div>
                    </div>
                    <div class="col-xs-4 slider-img-wrapper"
                         ng-class="slide.images[2].visible ? '' : 'low-opacity'"
                         ng-if="slide.images[2].src!=undefined" ng-click="selectVisualisation(slide.id, slide.images[2].type)">
                        <img ng-src="{{slide.images[2].src}}" ng-class="workbenchVars.selectedVis==slide.images[2].type?'active':''">
                        <div class="carousel-caption">
                            <p>{{slide.images[2].name}}</p>
                        </div>
                    </div>
                </uib-slide>
            </uib-carousel>
            <hr>
            <div class="row">
                <div class="form-group col-md-10 col-md-offset-1">
                    <label for="available-views">Available Views:</label>
                    <select class="form-control"
                            id="available-views"
                            ng-model="workbenchVars.selectedView"
                            ng-change="selectView(workbenchVars.selectedView)"
                            ng-options="item as item for item in workbenchVars.availableViews">
                        <option value="">Please select a valid dataset</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 animate-switch-container" ng-switch on="workbenchVars.selectedVis">
                    <div class="animate-switch" ng-switch-when="linechart">
                        <div class="form-group">
                            <label>X Axis:</label>
                            <select class="form-control"
                                    ng-model="lineChart.selectedAxisX"
                                    ng-options="item as item.label for item in lineChart.axisX">
                                <option value="">Choose...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="pull-left">Y Axis</label>
                            <div class="form-group" style="margin-right:50px">
                                <select class="form-control pull-left"
                                        ng-model="lineChart.selectedAxisYa"
                                        ng-options="item as item.label for item in lineChart.axisY">
                                    <option value="">Choose...</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default pull-right">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button><div style="clear:both"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button ng-click="createVisualization()"
                                        class="btn btn-default btn-success pull-right">Visualise Data</button>
                            </div>
                        </div>
                    </div>
                    <div class="animate-switch" ng-switch-when="pie">
                        <div class="form-group">
                            <label for="pieColumn">Pie Column</label>
                            <select class="form-control" id="pieColumn" ng-model="selPieCol" ng-options="name for name in sampleSelectData">
                                <option value="">Choose..</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-default btn-success pull-right">Visualise Data</button>
                    </div>
                    <div  class="animate-switch" ng-switch-when="map">
                        <div class="form-group">
                            <label for="mapColumn">Map Points</label>
                            <select class="form-control" id="mapColumn" ng-model="selMapCol" ng-options="name for name in sampleSelectData">
                                <option value="">Choose..</option>
                            </select>
                        </div>

                        <button ng-click="createVisualization()"
                                class="btn btn-default btn-success pull-right">Visualise Data</button>
                    </div>
                    <div ng-switch-default></div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 vis-area-wrapper">
            <div class="vis-area vis-area-default" ng-show="workbenchVars.selectedVis=='default'"></div>
            <div class="vis-area vis-area-line" ng-show="workbenchVars.selectedVis=='linechart'"></div>
            <div class="vis-area vis-area-pie" ng-show="workbenchVars.selectedVis=='pie'"></div>
            <div class="vis-area vis-area-map" ng-show="workbenchVars.selectedVis=='map'"></div>
        </div>
    </div>
</div>