<div class="component-wrapper ">
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ydsAlert}}
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="yds-basket-prev-content" id="workbench-basket">
                <div class="yds-basket-prev-title text-center">
                    <div class="btn-group btn-group-justified">
                        <label class="btn btn-primary">My Datasets</label>
                    </div>
                </div>
                <div class="yds-basket-prev-inner">
                    <input type="text" ng-model="basketVars.searchText" placeholder="Search basket.."/>
                    <div ng-if="basketVars.basketList.length>0" class="row list-group">
                        <div ng-repeat="item in basketVars.basketList | filter:customBasketFilter(basketVars.searchText)"
                             class="list-group-item basket-item"
                             ng-click="selectBasketItem($index)" ng-class="item.selected ? 'active' : ''">
                            <div class="row" >
                                <div class="basket-public-icon">
                                    <i class="glyphicon"
                                       title="{{ item.is_private ? 'The resource is private.' : 'The resource is public.'}}"
                                       ng-class="(item.is_private) ? 'glyphicon-eye-close' : 'glyphicon-eye-open'"></i>
                                </div>
                                <div class="col-md-9 col-md-offset-1 yds-basket-prev-desc">
                                        <b>{{item.title}}</b><br/>
                                    <label for="">Tags: </label><span ng-repeat="tag in item.tags">{{tag}}{{$last ? '' : ', '}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="basketVars.basketList.data.length==0" class="row list-group"
                         style="border: 0.5px solid grey; margin-top: 10px; padding: 10px;">
                        <a class="list-group-item">
                            <h4>We are sorry we could not find any item in your basket..</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <!-------- Component Selection Carousel -------->
            <uib-carousel active="slidesConfig.active" no-wrap="slidesConfig.noWrap">
                <uib-slide ng-repeat="slide in slidesConfig.slides track by slide.id" index="slide.id">
                    <div class="col-xs-4 slider-img-wrapper"
                         ng-class="slide.images[0].visible ? '' : 'low-opacity'"
                         ng-if="slide.images[0].src!=undefined" ng-click="selectVisualisation(slide.id, slide.images[0].type)">
                        <img ng-src="{{slide.images[0].src}}" ng-class="workbench.selectedVis==slide.images[0].type?'active':''">
                        <div class="carousel-caption" >
                            <p>{{slide.images[0].name}}</p>
                        </div>
                    </div>
                    <div class="col-xs-4 slider-img-wrapper"
                         ng-class="slide.images[1].visible ? '' : 'low-opacity'"
                         ng-if="slide.images[1].src!=undefined" ng-click="selectVisualisation(slide.id, slide.images[1].type)">
                        <img ng-src="{{slide.images[1].src}}" ng-class="workbench.selectedVis==slide.images[1].type?'active':''">
                        <div class="carousel-caption">
                            <p>{{slide.images[1].name}}</p>
                        </div>
                    </div>
                    <div class="col-xs-4 slider-img-wrapper"
                         ng-class="slide.images[2].visible ? '' : 'low-opacity'"
                         ng-if="slide.images[2].src!=undefined" ng-click="selectVisualisation(slide.id, slide.images[2].type)">
                        <img ng-src="{{slide.images[2].src}}" ng-class="workbench.selectedVis==slide.images[2].type?'active':''">
                        <div class="carousel-caption">
                            <p>{{slide.images[2].name}}</p>
                        </div>
                    </div>
                    <div class="col-xs-4 slider-img-wrapper"
                         ng-class="slide.images[3].visible ? '' : 'low-opacity'"
                         ng-if="slide.images[3].src!=undefined" ng-click="selectVisualisation(slide.id, slide.images[3].type)">
                        <img ng-src="{{slide.images[3].src}}" ng-class="workbench.selectedVis==slide.images[3].type?'active':''">
                        <div class="carousel-caption">
                            <p>{{slide.images[3].name}}</p>
                        </div>
                    </div>
                </uib-slide>
            </uib-carousel>
            <hr>

            <uib-alert type="danger" ng-if="workbench.alert.length>0" class="col-xs-10 col-xs-offset-1 text-center">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{workbench.alert}}
            </uib-alert>

            <!-------- Dropdown for the Availble Views -------->
            <div class="row">
                <div class="form-group col-md-10 col-md-offset-1">
                    <label for="available-views">Available Views:</label>
                    <select class="form-control"
                            id="available-views"
                            ng-model="workbench.selectedView"
                            ng-change="selectView(workbench.selectedView)"
                            ng-options="item as item for item in workbench.availableViews">
                        <option value="">Please select a valid dataset</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 animate-switch-container" ng-switch on="workbench.selectedVis">
                    <!-------- View responsible for the Configuration of Line Chart -------->
                    <div class="animate-switch workbench-linechart" ng-switch-when="linechart">
                        <div ng-include="'linechart-config.html'"></div>
                    </div>

                    <!-------- View responsible for the Configuration of Scatter Chart -------->
                    <div class="animate-switch workbench-scatterchart" ng-switch-when="scatterchart">
                        <div ng-include="'scatterchart-config.html'"></div>
                    </div>

                    <!-------- View responsible for the Configuration of Bar Chart -------->
                    <div class="animate-switch workbench-barchart" ng-switch-when="barchart">
                        <div ng-include="'barchart-config.html'"></div>
                    </div>

                    <!-------- View responsible for the Configuration of Grid Chart -------->
                    <div class="animate-switch" ng-switch-when="grid">
                        <div ng-include="'grid-config.html'"></div>
                    </div>

                    <div ng-switch-default></div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 vis-area-wrapper">
            <div class="vis-area vis-area-line" ng-show="workbench.selectedVis=='linechart'"></div>
            <div class="vis-area vis-area-scatter" ng-show="workbench.selectedVis=='scatterchart'"></div>
            <div class="vis-area vis-area-bar" ng-show="workbench.selectedVis=='barchart'"></div>
            <div class="vis-area vis-area-pie" ng-show="workbench.selectedVis=='piechart'"></div>
            <div class="vis-area vis-area-grid" ng-show="workbench.selectedVis=='grid'"></div>
            <div class="vis-area vis-area-default" ng-show="workbench.selectedVis=='default'"></div>
        </div>

        <!-------- Text area for showing sparql query -------->
        <div class="col-xs-offset-7 col-xs-5" style="margin-top: 10px;">
            <textarea style="width: 100%" rows="10" ng-model="sparqlResult"></textarea>
        </div>
    </div>
</div>