<div class="component-wrapper">
    <div class="row">
        <!--Chord container-->
        <div class="col-lg-8">
            <div class="chord-container" style="width:100%; text-align: center;">
                <div ng-if="loading" class="loading-container">
                    <div class="loading-container-inside"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Loading...
                    </div>
                </div>
                <div ng-if="noData" class="chord-no-data-container">
                    <div class="chord-no-data-img">
                        <img src="img/chord-empty.png"/>
                    </div>
                    <div class="chord-no-data-inside">
                        Please select one or more sellers from the list
                        <br/>to show connections.
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length > 0">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ ydsAlert }}
                </div>
            </div>
        </div>

        <!--Selected item panel-->
        <div class="col-lg-4">
            <div class="panel panel-default" ng-show="selectedItem !== null && relatedItems !== null">
                <div class="panel-heading">
                    <b>Selected seller:</b> <span ng-bind-html="selectedItem.link"></span>
                </div>
                <div class="panel-body chord-panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Company</th>
                                <th># of common contracts</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in relatedItems">
                                <td ng-bind-html="item.link"></td>
                                <td>{{ item.value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="extra-buttons-row">
        <span class="chord-explanation-btn" yds-explanation></span>
        <span class="chord-rating-btns" yds-rating></span>

        <!--Export Matrix button-->
        <span class="grid-export-btn" uib-tooltip="Download matrix used for the Chord diagram generation."
              tooltip-placement="right">
            <button type="button" class="btn btn-default btn-xs" style="font-size: 12px;"
                    ng-click="exportMatrix()" ng-disabled="noData || loading">
                <span class="glyphicon glyphicon-save-file"></span>
                <i class="fa fa-th" aria-hidden="true"></i>
            </button>
        </span>

        <!--Export grid rows button-->
        <span class="grid-export-btn"
              uib-tooltip="Download the list of companies that have common contracts with the selected one."
              tooltip-placement="right">
            <button type="button" class="btn btn-default btn-xs" style="font-size: 12px;"
                    ng-click="exportRows()" ng-disabled="relatedItems === null">
                <span class="glyphicon glyphicon-save-file"></span>
                <i class="fa fa-list" aria-hidden="true"></i>
            </button>
        </span>
    </div>
</div>
