<div class="component-wrapper flex" ng-class="{'margin-bottom-30': enableRating == 'true'}">
    <!--Graph display controls-->
    <div class="row">
        <!--Layout selection-->
        <div class="col-md-3">
            <div class="form-group">
                <label>Layout:</label>
                <select class="form-control"
                        ng-options="layout.name for layout in graphLayouts track by layout.name"
                        ng-model="selectedLayout"
                        ng-change="selectLayout(selectedLayout)">
                </select>
            </div>
        </div>

        <!--Depth selection-->
        <div class="col-md-3">
            <div class="form-group">
                <label>Depth:</label>
                <input class="form-control" type="number" ng-model="maxDepth" min="1">
            </div>
        </div>
    </div>

    <!--Graph & Info panel-->
    <div class="row flex">
        <!--Graph-->
        <div class="col-md-9 flex">
            <div class="graph-container flex"></div>
        </div>

        <!--Info panel-->
        <div class="col-md-3">
            <div class="panel panel-info node-info-panel">
                <div class="panel-heading">
                    <strong>Information for:</strong>
                    <span ng-tt-more-label="{{ translations.showMore }}"
                          ng-tt-less-label="{{ translations.showLess }}"
                          ng-text-truncate="clickedNode.name"
                          ng-tt-words-threshold="15">
                        {{ clickedNode.name || "-" }}
                    </span>
                </div>

                <!--Select node prompt text-->
                <div ng-if="!showNodeInfo" class="panel-body">
                    <div ng-if="!showNodeInfo" class="row">
                        <div class="col-sm-12">
                            <p>Select a node to display more information about it.</p>
                        </div>
                    </div>
                </div>

                <!--Node info panel-->
                <div ng-if="showNodeInfo" class="panel-body">
                    <!--Node icon & name-->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="graph-info-panel-icon" ng-style="clickedNode.iconStyle">
                                <img ng-src="{{ clickedNode.icon }}" width="100%">
                            </div>
                        </div>
                        <div class="col-sm-9" style="overflow-y: auto;">
                            <strong>
                                <span ng-tt-more-label="{{ translations.showMore }}"
                                      ng-tt-less-label="{{ translations.showLess }}"
                                      ng-text-truncate="clickedNode.name"
                                      ng-tt-words-threshold="15">
                                    {{ clickedNode.name || "-" }}
                                </span>
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <yds-info
                                    ng-if="showNodeInfoComponent"
                                    project-id="{{ clickedNode.id }}"
                                    vertical="true"
                                    view-type="graph.node"
                                    lang="{{ lang }}">
                            </yds-info>
                        </div>
                    </div>

                    <!--List of node children (if children number exceeds threshold)-->
                    <div ng-if="clickedNode.numberOfItems > childrenListThreshold" class="row">
                        <!--Number of children number-->
                        <div class="col-sm-12">
                            <p>Node children (click to open):</p>
                            <ul class="list-group">
                                <a ng-repeat="childNode in clickedNode.childrenData"
                                   ng-click="openChildNode(childNode)"
                                   class="list-group-item">
                                    {{ childNode.full_label }}
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
