<div class="component-wrapper">
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ ydsAlert }}
    </div>
    <div ng-if="quickFiltering=='true'">
        <div class="component-adv-quick-filter-label"><i class="glyphicon glyphicon-filter"></i>Quick Filter:</div>
        <input type="text"
               class="form-control component-adv-quick-filter"
               ng-model="filters.quickFilterValue"
               ng-change="applyQuickFilter(filters.quickFilterValue)"/>

        <button type="button"
                ng-click="clearComboFilters()"
                class="btn btn-default component-adv-filter-btn">
            Clear
        </button>
        <div style="clear: both"></div>
    </div>
    <div ng-if="loading" class="grid-loading loading-container">
        <div class="loading-container-inside"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Loading...</div>
    </div>
    <div ng-hide="loading" style="height: 100%; margin-top:10px;" class="ag-fresh grid-container"></div>

    <div class="extra-buttons-row">
        <span class="grid-embed-btn" yds-embed></span>
        <span class="grid-basket-btn" yds-basket-btn></span>
        <span class="grid-explanation-btn" yds-explanation="grid"></span>
        <span class="grid-rating-btns" yds-rating></span>

        <!--Export button-->
        <span class="grid-export-btn">
            <button type="button" class="btn btn-default btn-xs grid-export-btn"
                    ng-if="exporting == 'true'" ng-style="exportBtnPos" ng-click="exportGrid()">
                <span class="glyphicon glyphicon-save-file"></span>
            </button>
        </span>
    </div>
</div>
