<div class="component-wrapper">
    <div uib-alert class="alert-danger" ng-if="ydsAlert.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ ydsAlert }}
    </div>
    <div>
        <button type="button"
                ng-click="clearComboFilters()"
                class="btn btn-default component-adv-filter-btn">Clear
        </button>
        <button type="button"
                ng-click="applyComboFilters()"
                class="btn btn-primary component-adv-filter-btn">Apply Filters
        </button>
        <div ng-repeat="combo in comboboxFilters">
            <div class="form-group  component-adv-dropdown">
                <label>{{combo.label}}:</label>
                <select class="form-control"
                        ng-model="combo.selected"
                        ng-options="item as item.header for item in comboboxData[combo.attribute]">
                    <option value="">Choose...</option>
                </select>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="line-container" style="width:100%;"></div>

    <div class="extra-buttons-row">
        <span class="line-embed-btn" yds-embed></span>
        <span class="line-basket-btn" yds-basket-btn></span>
    </div>
</div>