<div class="component-wrapper">
    <div class="scatter-container" style="width:100%;">
        <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length > 0">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ ydsAlert }}
        </div>
    </div>

    <div class="extra-buttons-row">
        <span class="scatter-embed-btn" yds-embed></span>
        <span class="scatter-basket-btn" yds-basket-btn></span>
        <span class="scatter-explanation-btn" yds-explanation></span>
        <span class="scatter-rating-btns" yds-rating></span>
    </div>
</div>
