<div class="component-wrapper">
    <!--Error message-->
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length>0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ydsAlert}}
    </div>

    <!--Names list-->
    <div class="panel panel-default alternative-names-panel">
        <div class="panel-heading">
            <strong>Alternative Names</strong>
        </div>
        <div class="panel-body">
            <ul class="list-group alternative-names-list">
                <li ng-repeat="name in names"
                    class="list-group-item list-group-item-sm alternative-names-list-item">
                    {{ name }}
                </li>
            </ul>
        </div>
    </div>
</div>
