<div class="component-wrapper">
    <!--Error message-->
    <div class="alert alert-danger" role="alert" ng-if="ydsAlert.length > 0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ ydsAlert }}
    </div>

    <!--Names list-->
    <div ng-show="ydsAlert.length === 0"
         class="panel panel-default alternative-names-panel">
        <div class="panel-heading">
            <strong>{{ translations.title }}</strong>
        </div>
        <div class="panel-body alternative-names-panel-body">
            <div class="alternative-names-list">
                <!--Alternative names-->
                <div ng-repeat="name in names"
                     class="alternative-names-list-item">
                    {{ name }}
                </div>

                <!--No names found message-->
                <div ng-if="names.length === 0"
                     class="alternative-names-list-item">
                    <i>{{ translations.noNames }}</i>
                </div>
            </div>
        </div>
    </div>
</div>
