<div class="container" ng-controller="DashboardPilot1Controller">
    <div class="row">
        <div class="col-md-9">
            <h2>Contracts</h2>
        </div>
        <div class="col-md-3" style="text-align: right">
            <yds-save-filters-button
                    dashboard-id="contract"
                    lang="en">
            </yds-save-filters-button>
            <yds-clear-filters-button
                    dashboard-id="contract"
                    lang="en">
            </yds-clear-filters-button>
        </div>
    </div>
    <!--Maps-->
    <div class="row">
        <div class="col-md-5">
            <!--Heatmap of Buyers-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Buyer</h3>
                </div>
                <div class="panel-body">
                    <yds-heatmap
                            project-id="none"
                            view-type="contract.buyer.countries.all"
                            color-axis="true"
                            color-type="logarithmic"
                            legend="true"
                            legend-v-align="bottom"
                            use-dashboard-params="true"
                            dashboard-id="contract"
                            country-selection="true"
                            europe-only="true"
                            no-border="true"
                            exporting="false"
                            element-h="350"></yds-heatmap>
                </div>
                <div class="panel-footer" style="padding: 3px 15px">
                    <small>You can select one or more countries with the <kbd>CTRL</kbd> key.</small>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <!--Heatmap of Sellers-->
            <div class="panel panel-default panel-benefactor">
                <div class="panel-heading">
                    <h3 class="panel-title">Seller</h3>
                </div>
                <div class="panel-body">
                    <yds-heatmap
                            project-id="none"
                            view-type="contract.seller.countries.all"
                            color-axis="true"
                            color-type="logarithmic"
                            legend="true"
                            legend-v-align="bottom"
                            use-dashboard-params="true"
                            dashboard-id="contract"
                            country-selection="true"
                            no-border="true"
                            exporting="false"
                            element-h="350"></yds-heatmap>
                </div>
                <div class="panel-footer" style="padding: 3px 15px">
                    <small>You can select one or more countries with the <kbd>CTRL</kbd> key.</small>
                </div>
            </div>
        </div>

        <!--Year selection slider-->
        <div class="col-md-2">
            <yds-year-range
                    title="Time Period for Contracts"
                    dashboard-id="contract"
                    min-year="1997"
                    max-year="2018"
                    vertical="true"
                    height="350">
            </yds-year-range>
        </div>
    </div>

    <!--Dashboard Visualization-->
    <div class="row">
        <div class="col-md-10" style="min-height: 600px">
            <uib-tabset active="dashboardVisActiveTab">
                <uib-tab index="$index" class="{{ 'tab-' + aggregateClasses[$index] }}"
                         ng-repeat="type in aggregates track by $index" select="selectTab($index)">
                    <uib-tab-heading>
                        {{ aggregateTitles[$index] }}
                    </uib-tab-heading>
                    <yds-dashboard-visualization
                            ng-if="dashboardVisActiveTab == $index"
                            class="{{ 'content-' + aggregateClasses[$index] }}"
                            project-id="none"
                            dashboard-id="contract"
                            type="{{ type }}"
                            add-to-basket="true"
                            enable-rating="true"
                            element-h="460">
                    </yds-dashboard-visualization>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-2">
            <yds-dashboard-updater
                    ng-repeat="type in aggregates track by $index"
                    ng-show="aggregateToShow == $index"
                    type="aggregate"
                    project-id="{{ projectId }}"
                    dashboard-id="contract"
                    view-type="{{ type }}"
                    min-height="125"
                    aggregate-show-button="false"
                    aggregate-icon-size="3">
            </yds-dashboard-updater>

            <div class="panel panel-default">
                <div class="panel-heading dashboard-info-panel-heading">
                    <h3 class="panel-title">Your selected filters</h3>
                </div>

                <div class="panel-body dashboard-info-container-default">
                    <yds-dashboard-updater
                            type="info-vertical"
                            view-type="contract.filters.selected"
                            dashboard-id="contract"
                            min-height="90"
                            lang="en">
                    </yds-dashboard-updater>
                </div>
            </div>
        </div>
    </div>

    <!--What else can I do panel-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">What else can I do with the available data?</h3>
                </div>

                <div class="panel-body">
                    <uib-tabset active="ctTab"
                                template-url="templates/tabset-panel-success.html">
                        <uib-tab heading="View Data" index="0">
                            <p class="text-justify">The following table shows all Contracts for the selected seller and
                                buyer countries that span the selected time period. You can obtain the same results
                                through search: an example is provided on the
                                <!--Because of extra scopes created by uib-tab we need
                                to access the ctTab variable like this-->
                                <a ng-click="$parent.$parent.ctTab = 1">search tab</a>.</p>

                            <p class="text-justify">Each Contract has a set of related transactions and sectors.
                                In order to see them, please select a Contract from the table below, and press its
                                “View” button. The related transactions and sectors will be listed in a new page.</p>

                            <!--Contract grid-->
                            <yds-dashboard-updater
                                    ng-if="ctTab == 0"
                                    type="grid"
                                    id="dashboard-contract-data-grid"
                                    view-type="contract.listitems.for.countries.and.period"
                                    dashboard-id="contract"
                                    add-to-basket="true"
                                    enable-rating="true"
                                    min-height="420"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Search Data" index="1">
                            <p class="text-justify">The following example shows how a detailed search can be performed
                                in the YourDataStories platform, through the “Advanced Search”. The advanced search
                                allows you to graphically create rules that filter specific properties. Auto-completion
                                is also supported!</p>

                            <div class="bs-callout bs-callout-success" style="margin-top: 0">
                                <p class="text-justify">Select seller and buyer countries, change the time period, and
                                    see how the rules are automatically generated. Instructions on
                                    <a href="http://ydsdev.iit.demokritos.gr/YDS-docs/Tutorials/examples/advanced-search-usage">how
                                        to use Advanced Search</a>,
                                    a guided tutorial on filtering with a specific sector, access to the
                                    <a href="http://platform.yourdatastories.eu/content/tabbed-search">full search
                                        interface</a>.</p>
                            </div>

                            <yds-dashboard-updater
                                    ng-if="ctTab == 1"
                                    type="search"
                                    dashboard-id="contract"
                                    add-to-basket="true"
                                    min-height="480"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Visualize the data" index="2">
                            <!--Workbench-->
                            <yds-workbench
                                    ng-if="ctTab == 2"
                                    user-id="ydsUser"></yds-workbench>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <!--Project Info-->
    <div ng-if="showProjectInfo" class="col-md-12">
        <ng-include src="'templates-demo/view-aid.html'"></ng-include>
    </div>
</div>
