<div class="container">
    <div class="row">
        <!--Dashboard title and description-->
        <div class="col-md-8half">
            <h2>Official Development Assistance (ODA) of the Netherlands</h2>

            <p>This dashboard presents aspects of the data available for the development assistance provided by
                the Netherlands to various countries all over the world.</p>
            <p>The following map shows all countries that have received Dutch ODA, by showing the number of
                aid activities for all involved countries over the specified date range:</p>
        </div>

        <!--Panel with links to datasets-->
        <div class="col-md-3half">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Data from Datasets</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/ODA/NL">ODA of the Netherlands</a>
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/ODA/ZW">ODA to Zimbabwe</a>
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/trade/NL">International trade activities of the Netherlands</a>
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/trade/ZW">International trade activities of Zimbabwe</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <!--Heatmap-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Number of Aid Activities</h3>
                </div>
                <div class="panel-body">
                    <yds-heatmap
                            project-id="none"
                            view-type="aidactivity.beneficiary.countries.all"
                            color-axis="true"
                            color-type="logarithmic"
                            legend="true"
                            legend-v-align="bottom"
                            year-selection="true"
                            min-year="1997"
                            max-year="2018"
                            country-selection="false"
                            no-border="true"
                            element-h="400"></yds-heatmap>
                </div>
                <div class="panel-footer" style="padding: 3px 15px">
                    <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <!--Dashboard Visualization-->
            <yds-dashboard-visualization
                    project-id="none"
                    view-type="aidactivity.beneficiary.countries.all"
                    element-h="460">
            </yds-dashboard-visualization>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="isCollapsedAidActivityPanel = !isCollapsedAidActivityPanel">
                    <h3 class="panel-title">What can I do with the available data?</h3>
                </div>

                <div class="panel-body" uib-collapse="isCollapsedAidActivityPanel" ng-init="isCollapsedAidActivityPanel = true">
                    <uib-tabset type="pills">
                        <uib-tab heading="View data (as a table)">
                            <!--Placeholder table-->
                            <yds-grid
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    extra-params="apiOptions"
                                    element-h="400">
                            </yds-grid>
                        </uib-tab>
                        <uib-tab heading="View transactions">
                            <!--Placeholder table-->
                            <yds-grid
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    extra-params="apiOptions"
                                    element-h="400">
                            </yds-grid>
                        </uib-tab>
                        <uib-tab heading="View sectors">
                            <!--Placeholder table-->
                            <yds-grid
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    extra-params="apiOptions"
                                    element-h="400">
                            </yds-grid>
                        </uib-tab>
                        <uib-tab heading="Search the data">
                            <!--Tabbed Search-->
                            <yds-search-tabs
                                    default-tab="AidActivity"
                                    url-param-prefix="aa-"
                                    hide-tabs="true"
                                    lang="en">
                            </yds-search-tabs>
                        </uib-tab>
                        <uib-tab heading="Visualize the data">
                            <!--Workbench-->
                            <yds-workbench user-id="ydsUser"></yds-workbench>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <!--Trade activities-->
    <div class="row">
        <!--Trade activities title and description-->
        <div class="col-md-12">
            <h2>What data is related? Trade Activities</h2>

            <p>International trade activities describe the trade activities among countries.</p>
            <p>In the following map you can see the trade relations between the Netherlands, and the rest of the world:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <!--Heatmap-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Number of Trade Activities</h3>
                </div>
                <div class="panel-body">
                    <yds-heatmap
                            project-id="none"
                            view-type="aidactivity.beneficiary.countries.all"
                            color-axis="true"
                            color-type="logarithmic"
                            legend="true"
                            legend-v-align="bottom"
                            year-selection="true"
                            min-year="1997"
                            max-year="2018"
                            country-selection="false"
                            no-border="true"
                            element-h="400"></yds-heatmap>
                </div>
                <div class="panel-footer" style="padding: 3px 15px">
                    <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <!--Dashboard Visualization-->
            <yds-dashboard-visualization
                    project-id="none"
                    view-type="aidactivity.beneficiary.countries.all"
                    element-h="460">
            </yds-dashboard-visualization>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="isCollapsedTradeActivityPanel = !isCollapsedTradeActivityPanel">
                    <h3 class="panel-title">What can I do with the available trade activity data?</h3>
                </div>

                <div class="panel-body" uib-collapse="isCollapsedTradeActivityPanel" ng-init="isCollapsedTradeActivityPanel = true">
                    <uib-tabset type="pills">
                        <uib-tab heading="View data (as a table)">
                            <!--Placeholder table-->
                            <yds-grid
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    extra-params="apiOptions"
                                    element-h="400">
                            </yds-grid>
                        </uib-tab>
                        <uib-tab heading="View transactions">
                            <!--Placeholder table-->
                            <yds-grid
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    extra-params="apiOptions"
                                    element-h="400">
                            </yds-grid>
                        </uib-tab>
                        <uib-tab heading="View sectors">
                            <!--Placeholder table-->
                            <yds-grid
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    extra-params="apiOptions"
                                    element-h="400">
                            </yds-grid>
                        </uib-tab>
                        <uib-tab heading="Search the data">
                            <!--Tabbed Search-->
                            <yds-search-tabs
                                    default-tab="TradeActivity"
                                    url-param-prefix="ta-"
                                    hide-tabs="true"
                                    lang="en">
                            </yds-search-tabs>
                        </uib-tab>
                        <uib-tab heading="Visualize the data">
                            <!--Workbench-->
                            <yds-workbench user-id="ydsUser"></yds-workbench>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
