<div class="container" ng-controller="Dashboard2Controller">
    <div class="row">
        <div class="col-md-12">
            <h2>Official Development Assistance (ODA)</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-justify">This dashboard allows you to explore data related to official development assistance
                (ODA) provided by donor countries (such as the Netherlands) to developing countries all over the world
                (such as Zimbabwe).</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>You can start by either using the keyword search</p>
            <div class="col-md-12 zero-padding">
                <div class="col-md-4 zero-padding">
                    <yds-search
                            standalone="true"
                            tabbed="true"
                            concept="AidActivity"></yds-search>
                </div>
                <div class="col-md-offset-4 col-md-4 zero-padding">
                    <button popover-placement="auto bottom-right" popover-class="dashboard2-info-popover"
                            uib-popover-template="infoPopoverUrl"
                            type="button" class="btn btn-green pull-right">
                        <span class="glyphicon glyphicon-info-sign"></span> Learn how this Dashboard works</button>
                </div>
            </div>
            <p style="padding-top: 40px">Or start by choosing to dig into the data on aid- or trade-activity directly:</p>
        </div>
    </div>

    <uib-accordion close-others="oneAtATime" class="dashboard2-accordion">
        <!--Panel for sector selection-->
        <div uib-accordion-group class="panel panel-default dashboard2-accordion-panel" is-open="status.sectorOpen">
            <uib-accordion-heading>
                <div class="accordion-arrow pull-left">Step 1</div>
                <div class="dashboard2-accordion-inner-heading">
                    <h3 class="panel-title pull-left">{{ panelSectorTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-minus-sign': status.sectorOpen, 'glyphicon-plus-sign': !status.sectorOpen}"></i>
                </div>
            </uib-accordion-heading>

            <div class="text-center">
                <p>Take a closer look at:</p>
                <button type="button" class="btn btn-lg btn-primary"
                        ng-click="setSelectedSector('aidactivity', true)">
                    Aid Activities
                </button>
                <button type="button" class="btn btn-lg btn-warning"
                        ng-click="setSelectedSector('tradeactivity', true)">
                    Trade Activities
                </button>
            </div>
        </div>

        <!--Panel for country selection-->
        <div uib-accordion-group class="panel panel-default dashboard2-accordion-panel zero-padding" is-open="status.countryOpen">
            <uib-accordion-heading>
                <div class="accordion-arrow pull-left">Step 2</div>
                <div class="dashboard2-accordion-inner-heading">
                    <h3 class="panel-title pull-left">{{ panelCountrySelectionTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-minus-sign': status.countryOpen, 'glyphicon-plus-sign': !status.countryOpen}"></i>
                </div>
            </uib-accordion-heading>

            <!--Aid Activity Country Selection-->
            <div ng-if="selectedSector == 'aidactivity' && status.countryOpen">
                <div class="col-md-6" style="padding-left: 0">
                    <!--Heatmap of Beneficiaries-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Aid Activities per Beneficiary Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="aidactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="padding-right: 0">
                    <!--Heatmap of Benefactors-->
                    <div class="panel panel-default panel-benefactor">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Aid Activities per Benefactor Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="aidactivity.benefactor.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="aidactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>
                </div>
            </div>

            <!--Trade Activity Country Selection-->
            <div ng-if="selectedSector == 'tradeactivity' && status.countryOpen">
                <div class="col-md-6" style="padding-left: 0">
                    <!--Heatmap of Origins-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Trade Activities per Origin Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="tradeactivity.hasorigin.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="tradeactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="padding-right: 0">
                    <!--Heatmap of Destinations-->
                    <div class="panel panel-default panel-benefactor">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Trade Activities per Destination Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="tradeactivity.hasdestination.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="tradeactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Panel for time period selection-->
        <div uib-accordion-group class="panel panel-default dashboard2-accordion-panel" is-open="status.periodOpen">
            <uib-accordion-heading>
                <div class="accordion-arrow pull-left">Step 3</div>
                <div class="dashboard2-accordion-inner-heading">
                    <h3 class="panel-title pull-left">{{ panelTimePeriodTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-minus-sign': status.periodOpen, 'glyphicon-plus-sign': !status.periodOpen}"></i>
                </div>
            </uib-accordion-heading>

            <!--Aid Activity Time Period Selection-->
            <div ng-if="selectedSector == 'aidactivity'" class="col-md-offset-3 col-md-6">
                <yds-year-range
                        title="Time Period for Aid Activities"
                        dashboard-id="aidactivity"
                        min-year="1997"
                        max-year="2018">
                </yds-year-range>
            </div>

            <!--Trade Activity Time Period Selection-->
            <div ng-if="selectedSector == 'tradeactivity'" class="col-md-offset-3 col-md-6">
                <yds-year-range
                        title="Time Period for Trade Activities"
                        dashboard-id="tradeactivity"
                        min-year="1997"
                        max-year="2018">
                </yds-year-range>
            </div>
        </div>

        <!--Aggregates-->
        <div uib-accordion-group class="panel panel-default dashboard2-accordion-panel dashboard2-aggregate-panel" is-open="status.aggregatesOpen">
            <uib-accordion-heading>
                <div class="accordion-arrow pull-left">Step 4</div>
                <div class="dashboard2-accordion-inner-heading">
                    <h3 class="panel-title pull-left">{{ panelCategoryTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-minus-sign': status.aggregatesOpen, 'glyphicon-plus-sign': !status.aggregatesOpen}"></i>
                </div>
            </uib-accordion-heading>

            <div ng-class="aggregateClass"
                 ng-repeat="type in aggregates track by $index"
                 style="padding-left: 10px; padding-right: 10px">
                <yds-dashboard-updater
                        type="aggregate"
                        project-id="{{ projectId }}"
                        dashboard-id="{{ selectedSector }}"
                        view-type="{{ type }}"
                        min-height="150"
                        aggregate-icon-size="3"
                        aggregate-set-on-init="{{ ($index == 0) }}">
                </yds-dashboard-updater>
            </div>
        </div>
    </uib-accordion>

    <!--Dashboard Visualization-->
    <div class="row">
        <div class="col-md-12">
            <!--Aid Activity Visualization-->
            <yds-dashboard-visualization
                    ng-if="selectedSector == 'aidactivity'"
                    project-id="none"
                    dashboard-id="aidactivity"
                    add-to-basket="true"
                    element-h="460">
            </yds-dashboard-visualization>

            <!--Trade Activity Visualization-->
            <yds-dashboard-visualization
                    ng-if="selectedSector == 'tradeactivity'"
                    project-id="none"
                    dashboard-id="tradeactivity"
                    add-to-basket="true"
                    element-h="460">
            </yds-dashboard-visualization>
        </div>
    </div>


    <!--Selected filters-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Selected filters</h3>
                </div>

                <div class="panel-body dashboard-info-container-default">
                    <yds-dashboard-updater
                            ng-if="selectedSector == 'aidactivity'"
                            type="info"
                            view-type="aidactivity.filters.selected"
                            dashboard-id="aidactivity"
                            min-height="90"
                            lang="en">
                    </yds-dashboard-updater>


                    <yds-dashboard-updater
                            ng-if="selectedSector == 'tradeactivity'"
                            type="info"
                            view-type="tradeactivity.filters.selected"
                            dashboard-id="tradeactivity"
                            min-height="90"
                            lang="en">
                    </yds-dashboard-updater>
                </div>
            </div>
        </div>
    </div>

    <!--Aid Activity "What else..." panel-->
    <div ng-if="selectedSector == 'aidactivity'" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix" ng-click="isCollapsedAidActivityPanel = !isCollapsedAidActivityPanel">
                    <h3 class="panel-title pull-left">What else can I do with the available data?</h3>

                    <!--Icons to indicate if the panel is open or closed-->
                    <i ng-if="isCollapsedAidActivityPanel" class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
                    <i ng-if="!isCollapsedAidActivityPanel" class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
                </div>

                <div class="panel-body"
                     uib-collapse="isCollapsedAidActivityPanel"
                     ng-init="isCollapsedAidActivityPanel = true">
                    <uib-tabset active="aaTab"
                                template-url="templates/tabset-panel-success.html">
                        <uib-tab heading="View Data" index="0">
                            <p class="text-justify">The following table shows all Aid Activities for the selected
                                benefactor and beneficiary countries that span the selected time period. You can obtain
                                the same results through search: an example is provided on the
                                <!--Because of extra scopes created by uib-tab we need
                                to access the aaTab variable like this-->
                                <a ng-click="$parent.$parent.aaTab = 1">search tab</a>.</p>

                            <p class="text-justify">Each Aid Activity has a set of related transactions and sectors. In
                                order to see them, please select an Aid Activity from the table below, and press its
                                “View” button. The related transactions and sectors will be listed in a new page.</p>

                            <!--AidActivity grid-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 0"
                                    type="grid"
                                    view-type="aidactivity.listitems.for.countries.and.period"
                                    dashboard-id="aidactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Search Data" index="1">
                            <p class="text-justify">The following example shows how a detailed search can be performed
                                in the YourDataStories platform, through the “Advanced Search”. The advanced search
                                allows you to graphically create rules that filter specific properties. Auto-completion is
                                also supported!</p>

                            <div class="bs-callout bs-callout-success" style="margin-top: 0">
                                <p class="text-justify">Select benefactor and beneficiary countries, change the time
                                    period, and see how the rules are automatically generated. Instructions on
                                    <a href="http://ydsdev.iit.demokritos.gr/YDS-docs/Tutorials/examples/advanced-search-usage">how to use Advanced Search</a>,
                                    a guided tutorial on filtering with a specific sector, access to the
                                    <a href="http://platform.yourdatastories.eu/content/tabbed-search">full search interface</a>.</p>
                            </div>

                            <yds-dashboard-updater
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 1"
                                    type="search"
                                    dashboard-id="aidactivity"
                                    min-height="480"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Visualize the data" index="2">
                            <!--Workbench-->
                            <yds-workbench
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 2"
                                    user-id="ydsUser"></yds-workbench>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <!--Trade Activity "What else..." panel-->
    <div ng-if="selectedSector == 'tradeactivity'" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix" ng-click="isCollapsedTradeActivityPanel = !isCollapsedTradeActivityPanel">
                    <h3 class="panel-title pull-left">What else can I do with the available trade activity data?</h3>

                    <!--Icons to indicate if the panel is open or closed-->
                    <i ng-if="isCollapsedTradeActivityPanel" class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
                    <i ng-if="!isCollapsedTradeActivityPanel" class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
                </div>

                <div class="panel-body"
                     uib-collapse="isCollapsedTradeActivityPanel"
                     ng-init="isCollapsedTradeActivityPanel = true">
                    <uib-tabset active="taTab"
                                template-url="templates/tabset-panel-success.html">
                        <uib-tab heading="View Data" index="0">
                            <p class="text-justify">The following table shows all Trade Activities for the selected
                                origin and destination countries that span the selected time period. You can obtain
                                the same results through search: an example is provided on the
                                <!--Because of extra scopes created by uib-tab we need
                                to access the taTab variable like this-->
                                <a ng-click="$parent.$parent.taTab = 1">search tab</a>.</p>

                            <p class="text-justify">Each Trade Activity has a set of related transactions and sectors.
                                In order to see them, please select a Trade Activity from the table below, and press its
                                “View” button. The related transactions and sectors will be listed in a new page.</p>

                            <!--TradeActivity grid-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 0"
                                    type="grid"
                                    view-type="tradeactivity.listitems.for.countries.and.period"
                                    dashboard-id="tradeactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Search Data" index="1">
                            <p class="text-justify">The following example shows how a detailed search can be performed
                                in the YourDataStories platform, through the “Advanced Search”. The advanced search
                                allows you to graphically create rules that filter specific properties. Auto-completion is
                                also supported!</p>

                            <div class="bs-callout bs-callout-success" style="margin-top: 0">
                                <p class="text-justify">Select origin and destination countries, change the time
                                    period, and see how the rules are automatically generated. Instructions on
                                    <a href="http://ydsdev.iit.demokritos.gr/YDS-docs/Tutorials/examples/advanced-search-usage">how to use Advanced Search</a>,
                                    a guided tutorial on filtering with a specific sector, access to the
                                    <a href="http://platform.yourdatastories.eu/content/tabbed-search">full search interface</a>.</p>
                            </div>

                            <yds-dashboard-updater
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 1"
                                    type="search"
                                    dashboard-id="tradeactivity"
                                    min-height="480"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Visualize the data" index="2">
                            <!--Workbench-->
                            <yds-workbench
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 2"
                                    user-id="ydsUser"></yds-workbench>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--Why use YDS Callout-->
        <div class="col-md-8">
            <div class="bs-callout bs-callout-success">
                <h4>Why use YourDataStories?</h4>
                <p class="text-justify">YourDataStories aggregates data from various separate datasets into a common
                    “semantic graph” in RDF. In plain English: YourDataStories connects information from different
                    sources in one place. It enables users to access such data easily and to discover relations between
                    data. In such a way, users can browse, search, visualize, and make sense of the aggregated data,
                    rather than chase the original, discrete datasets which may only be accessible to experts.</p>
            </div>
        </div>

        <!--Panel with links to datasets-->
        <div class="col-md-4">
            <div class="panel panel-default" style="margin-top: 20px">
                <div class="panel-heading">
                    <h3 class="panel-title">Data from Datasets</h3>
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/ODA/NL">ODA of the Netherlands</a>
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/ODA/ZW">ODA to Zimbabwe</a>
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/trade/NL">International trade activities of the Netherlands</a>
                    <a class="list-group-item list-group-item-sm" target="_blank" href="http://143.233.226.61:8890/describe/?url=http://linkedeconomy.org/resource/Dataset/trade/ZW">International trade activities of Zimbabwe</a>
                </div>
            </div>
        </div>
    </div>
</div>
