<div class="container" ng-controller="Dashboard2Controller">
    <uib-accordion close-others="oneAtATime">
        <!--Panel for sector selection-->
        <div uib-accordion-group class="panel panel-default panel-sector" is-open="status.sectorOpen">
            <uib-accordion-heading>
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{ panelSectorTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.sectorOpen, 'glyphicon-chevron-right': !status.sectorOpen}"></i>
                </div>
            </uib-accordion-heading>

            <div class="panel-body zero-padding text-center">
                <p>Take a closer look at:</p>
                <button type="button" class="btn btn-lg btn-primary"
                        ng-click="setSelectedSector('aidactivity')">
                    Aid Activities
                </button>
                <button type="button" class="btn btn-lg btn-warning"
                        ng-click="setSelectedSector('tradeactivity')">
                    Trade Activities
                </button>
            </div>
        </div>

        <!--Panel for country selection-->
        <div uib-accordion-group class="panel panel-default panel-country-selection zero-padding" is-open="status.countryOpen">
            <uib-accordion-heading>
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{ panelCountrySelectionTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.countryOpen, 'glyphicon-chevron-right': !status.countryOpen}"></i>
                </div>
            </uib-accordion-heading>

            <!--Aid Activity Country Selection-->
            <div ng-if="selectedSector == 'aidactivity' && status.countryOpen" class="panel-body zero-padding">
                <div class="col-md-6" style="padding-left: 0">
                    <!--Heatmap of Beneficiaries-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Aid Activities per Beneficiary Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="aidactivity.beneficiary.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="aidactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="padding-right: 0">
                    <!--Heatmap of Benefactors-->
                    <div class="panel panel-default panel-benefactor">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Aid Activities per Benefactor Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="aidactivity.benefactor.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="aidactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>
                </div>
            </div>

            <!--Trade Activity Country Selection-->
            <div ng-if="selectedSector == 'tradeactivity' && status.countryOpen" class="panel-body zero-padding">
                <div class="col-md-6" style="padding-left: 0">
                    <!--Heatmap of Origins-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Trade Activities per Origin Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="tradeactivity.hasorigin.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="tradeactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="padding-right: 0">
                    <!--Heatmap of Destinations-->
                    <div class="panel panel-default panel-benefactor">
                        <div class="panel-heading">
                            <h3 class="panel-title">Number of Trade Activities per Destination Country</h3>
                        </div>
                        <div class="panel-body">
                            <yds-heatmap
                                    project-id="none"
                                    view-type="tradeactivity.hasdestination.countries.all"
                                    color-axis="true"
                                    color-type="logarithmic"
                                    legend="true"
                                    legend-v-align="bottom"
                                    use-year-range="true"
                                    dashboard-id="tradeactivity"
                                    country-selection="true"
                                    no-border="true"
                                    exporting="false"
                                    element-h="350"></yds-heatmap>
                        </div>
                        <div class="panel-footer" style="padding: 3px 15px">
                            <small>You can select one or more countries (with <kbd>CTRL</kbd> key), and adjust the date range.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Panel for time period selection-->
        <div uib-accordion-group class="panel panel-default panel-time-period" is-open="status.periodOpen">
            <uib-accordion-heading>
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{ panelTimePeriodTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.periodOpen, 'glyphicon-chevron-right': !status.periodOpen}"></i>
                </div>
            </uib-accordion-heading>

            <!--Aid Activity Time Period Selection-->
            <div ng-if="selectedSector == 'aidactivity'" class="panel-body zero-padding">
                <div class="col-md-offset-3 col-md-6">
                    <yds-year-range
                            title="Time Period for Aid Activities"
                            dashboard-id="aidactivity"
                            min-year="1997"
                            max-year="2018">
                    </yds-year-range>
                </div>
            </div>

            <!--Trade Activity Time Period Selection-->
            <div ng-if="selectedSector == 'tradeactivity'" class="panel-body zero-padding">
                <div class="col-md-offset-3 col-md-6">
                    <yds-year-range
                            title="Time Period for Trade Activities"
                            dashboard-id="tradeactivity"
                            min-year="1997"
                            max-year="2018">
                    </yds-year-range>
                </div>
            </div>
        </div>

        <!--Aggregates-->
        <div uib-accordion-group class="panel panel-default panel-category" is-open="status.aggregatesOpen">
            <uib-accordion-heading>
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">{{ panelCategoryTitle }}</h3>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.aggregatesOpen, 'glyphicon-chevron-right': !status.aggregatesOpen}"></i>
                </div>
            </uib-accordion-heading>

            <div class="panel-body zero-padding">
                <div ng-class="aggregateClass"
                     ng-repeat="type in aggregates track by $index"
                     style="padding-left: 10px; padding-right: 10px"
                     ng-style="{{ ($first) ? firstAggregateStyle : (($last) ? lastAggregateStyle : {}) }}">
                    <yds-dashboard-updater
                            type="aggregate"
                            project-id="{{ projectId }}"
                            dashboard-id="{{ selectedSector }}"
                            view-type="{{ type }}"
                            aggregate-icon-size="3"
                            aggregate-set-on-init="{{ ($index == 0) }}">
                    </yds-dashboard-updater>
                </div>
            </div>
        </div>
    </uib-accordion>

    <!--Selected filters-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Selected filters</h3>
                </div>

                <div class="panel-body dashboard-info-container">
                    <yds-dashboard-updater
                            ng-if="selectedSector == 'aidactivity'"
                            type="info"
                            view-type="aidactivity.filters.selected"
                            dashboard-id="aidactivity"
                            min-height="90"
                            lang="en">
                    </yds-dashboard-updater>


                    <yds-dashboard-updater
                            ng-if="selectedSector == 'tradeactivity'"
                            type="info"
                            view-type="tradeactivity.filters.selected"
                            dashboard-id="tradeactivity"
                            min-height="90"
                            lang="en">
                    </yds-dashboard-updater>
                </div>
            </div>
        </div>
    </div>

    <!--Dashboard Visualization-->
    <div class="row">
        <div class="col-md-12">
            <!--Aid Activity Visualization-->
            <yds-dashboard-visualization
                    ng-if="selectedSector == 'aidactivity'"
                    project-id="none"
                    dashboard-id="aidactivity"
                    element-h="460">
            </yds-dashboard-visualization>

            <!--Trade Activity Visualization-->
            <yds-dashboard-visualization
                    ng-if="selectedSector == 'tradeactivity'"
                    project-id="none"
                    dashboard-id="tradeactivity"
                    element-h="460">
            </yds-dashboard-visualization>
        </div>
    </div>

    <!--Aid Activity "What else..." panel-->
    <div ng-if="selectedSector == 'aidactivity'" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix" ng-click="isCollapsedAidActivityPanel = !isCollapsedAidActivityPanel">
                    <h3 class="panel-title pull-left">What else can I do with the available data?</h3>

                    <!--Icons to indicate if the panel is open or closed-->
                    <i ng-if="isCollapsedAidActivityPanel" class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
                    <i ng-if="!isCollapsedAidActivityPanel" class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
                </div>

                <div class="panel-body"
                     uib-collapse="isCollapsedAidActivityPanel"
                     ng-init="isCollapsedAidActivityPanel = true">
                    <uib-tabset active="aaTab"
                                template-url="templates/tabset-panel-success.html">
                        <uib-tab heading="View Data" index="0">
                            <p class="text-justify">The following table shows all Aid Activities for the selected
                                benefactor and beneficiary countries, that span the selected time period. You can obtain
                                the same results through search: an example is provided on the
                                <!--Because of extra scopes created by uib-tab we need
                                to access the aaTab variable like this-->
                                <a ng-click="$parent.$parent.aaTab = 1">search tab</a>.</p>

                            <!--AidActivity grid-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 0"
                                    type="grid"
                                    view-type="aidactivity.listitems.for.countries.and.period"
                                    dashboard-id="aidactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Search Data" index="1">
                            <p class="text-justify">The following example shows how a detailed search can be performed
                                in the YourDataStories platform, through the “Advanced Search”. The advanced search
                                allows to graphically create rules, that filter specific properties. Auto-completion is
                                also supported!</p>

                            <div class="bs-callout bs-callout-success" style="margin-top: 0">
                                <p class="text-justify">Select benefactor and beneficiary countries, change the time
                                    period, and see how the rules are automatically generated. Instructions on
                                    <a href="http://ydsdev.iit.demokritos.gr/YDS-docs/Tutorials/examples/advanced-search-usage">how to use Advanced Search</a>,
                                    a guided tutorial on filtering with a specific sector, access to the
                                    <a href="http://platform.yourdatastories.eu/content/tabbed-search">full search interface</a>.</p>
                            </div>

                            <yds-dashboard-updater
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 1"
                                    type="search"
                                    dashboard-id="aidactivity"
                                    min-height="480"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="View transactions" index="2">
                            <p class="text-justify">Each Aid Activity has a set of related transactions. In order to see
                                them, please select an Aid Activity from the table below, and press its “View” button.
                                The related transactions will be listed in a new page.</p>

                            <!--Grid with aid activities-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 2"
                                    type="grid"
                                    view-type="aidactivity.listitems.for.countries.and.period"
                                    dashboard-id="aidactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="View sectors" index="3">
                            <p class="text-justify">Each Aid Activity has a set of related sectors. In order to see
                                them, please select an Aid Activity from the table below, and press its “View” button.
                                The related sectors will be listed in a new page.</p>

                            <!--Grid with aid activities-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 3"
                                    type="grid"
                                    view-type="aidactivity.listitems.for.countries.and.period"
                                    dashboard-id="aidactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Visualize the data" index="4">
                            <!--Workbench-->
                            <yds-workbench
                                    ng-if="!isCollapsedAidActivityPanel && aaTab == 4"
                                    user-id="ydsUser"></yds-workbench>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <!--Trade Activity "What else..." panel-->
    <div ng-if="selectedSector == 'tradeactivity'" class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix" ng-click="isCollapsedTradeActivityPanel = !isCollapsedTradeActivityPanel">
                    <h3 class="panel-title pull-left">What else can I do with the available trade activity data?</h3>

                    <!--Icons to indicate if the panel is open or closed-->
                    <i ng-if="isCollapsedTradeActivityPanel" class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
                    <i ng-if="!isCollapsedTradeActivityPanel" class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
                </div>

                <div class="panel-body"
                     uib-collapse="isCollapsedTradeActivityPanel"
                     ng-init="isCollapsedTradeActivityPanel = true">
                    <uib-tabset active="taTab"
                                template-url="templates/tabset-panel-success.html">
                        <uib-tab heading="View Data" index="0">
                            <p class="text-justify">The following table shows all Trade Activities for the selected
                                origin and destination countries, that span the selected time period. You can obtain
                                the same results through search: an example is provided on the
                                <!--Because of extra scopes created by uib-tab we need
                                to access the taTab variable like this-->
                                <a ng-click="$parent.$parent.taTab = 1">search tab</a>.</p>

                            <!--TradeActivity grid-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 0"
                                    type="grid"
                                    view-type="tradeactivity.listitems.for.countries.and.period"
                                    dashboard-id="tradeactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Search Data" index="1">
                            <p class="text-justify">The following example shows how a detailed search can be performed
                                in the YourDataStories platform, through the “Advanced Search”. The advanced search
                                allows to graphically create rules, that filter specific properties. Auto-completion is
                                also supported!</p>

                            <div class="bs-callout bs-callout-success" style="margin-top: 0">
                                <p class="text-justify">Select origin and destination countries, change the time
                                    period, and see how the rules are automatically generated. Instructions on
                                    <a href="http://ydsdev.iit.demokritos.gr/YDS-docs/Tutorials/examples/advanced-search-usage">how to use Advanced Search</a>,
                                    a guided tutorial on filtering with a specific sector, access to the
                                    <a href="http://platform.yourdatastories.eu/content/tabbed-search">full search interface</a>.</p>
                            </div>

                            <yds-dashboard-updater
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 1"
                                    type="search"
                                    dashboard-id="tradeactivity"
                                    min-height="480"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="View transactions" index="2">
                            <p class="text-justify">Each Trade Activity has a set of related transactions. In order to
                                see them, please select a Trade Activity from the table below, and press its “View”
                                button. The related transactions will be listed in a new page.</p>

                            <!--Grid with trade activities-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 2"
                                    type="grid"
                                    view-type="tradeactivity.listitems.for.countries.and.period"
                                    dashboard-id="tradeactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="View sectors" index="3">
                            <p class="text-justify">Each Trade Activity has a set of related sectors. In order to see
                                them, please select a Trade Activity from the table below, and press its “View” button.
                                The related sectors will be listed in a new page.</p>

                            <!--Grid with trade activities-->
                            <yds-dashboard-updater
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 3"
                                    type="grid"
                                    view-type="tradeactivity.listitems.for.countries.and.period"
                                    dashboard-id="tradeactivity"
                                    min-height="400"
                                    lang="en">
                            </yds-dashboard-updater>
                        </uib-tab>

                        <uib-tab heading="Visualize the data" index="4">
                            <!--Workbench-->
                            <yds-workbench
                                    ng-if="!isCollapsedTradeActivityPanel && taTab == 4"
                                    user-id="ydsUser"></yds-workbench>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
