<script type="text/ng-template" id="linechart-config.html">
    <div class="form-group">
        <label>X Axis:</label>
        <select class="form-control"
                ng-model="lineChart.selectedAxisX"
                ng-options="item as item.label for item in lineChart.axisX"
                ng-disabled="lineChart.axisX.length==1">
            <option value="">Choose...</option>
        </select>
    </div>
    <div class="form-group" ng-repeat="axisY in lineChart.axisYConfig track by $index">
        <label class="pull-left">Y Axis <span class="label label-success">{{$index+1}}</span></label>
        <div class="form-group" style="margin-right:100px">
            <select class="form-control pull-left"
                    ng-model="axisY.selected"
                    ng-options="item as item.label for item in axisY.options|filter:lineBarFilterY($index, 'lineChart')">
                <option value="">Choose...</option>
            </select>
        </div>
        <button type="button"
                class="btn btn-default pull-right"
                ng-click="addLineAxisY()">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <button type="button"
                class="btn btn-default pull-right"
                ng-disabled="lineChart.axisYConfig.length<2"
                ng-click="removeLineAxisY($index)">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
        <div style="clear:both"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button ng-click="createVisualization()"
                    class="btn btn-primary pull-right">Visualise Data</button>
        </div>
    </div>
</script>