<div class="workbench-view-selector-container">
    <!--View/axes selector-->
    <div ng-if="viewsLoaded && selectedItems.length > 0 && !plotOptionsLoading">
        <!--View selection-->
        <div class="row">
            <div class="form-group col-md-10 col-md-offset-1">
                <label for="available-views">Select a view type:</label>
                <ui-select
                        id="available-views"
                        ng-model="chartConfig.selectedView"
                        theme="bootstrap"
                        search-enabled="false"
                        on-select="selectView(chartConfig.selectedView)"
                        title="Please select a view">
                    <ui-select-match placeholder="Please select a view">
                        <span ng-bind="chartConfig.selectedView"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in availableViews track by $index">
                        <span ng-bind="item"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!--X axis selection-->
        <div class="row" ng-if="axes != undefined && axes.x.length > 0">
            <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                    <label>X Axis:</label>
                    <yds-tree
                            nodes="{{ axes.x }}"
                            selected-node="selection.x"
                            placeholder="Select axis">
                    </yds-tree>
                </div>
            </div>
        </div>

        <!--Y axis selection-->
        <div class="row" ng-if="axes != undefined && axes.y.length > 0">
            <div class="col-md-offset-1 col-md-10">
                <div class="form-group" ng-repeat="axisY in selection.y track by $index">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Y Axis <span class="label label-success">{{ $index+1 }}</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <yds-tree
                                    nodes="{{ axes.y }}"
                                    selected-node="axisY.selected"
                                    placeholder="Select axis">
                            </yds-tree>
                        </div>
                        <div class="col-sm-2 workbench-plus-minus-container">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-default"
                                        ng-disabled="selection.y.length<2"
                                        ng-click="removeAxisY($index)">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="addAxisY()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Create chart button-->
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary btn-lg" ng-click="createChart()">Create chart</button>
            </div>
        </div>
    </div>

    <!--Alert for when views are not loaded-->
    <div ng-if="(!viewsLoaded || selectedItems.length == 0) && !plotOptionsLoading">
        <div uib-alert class="alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Please select one or
            more Library items in the Import tab!
        </div>
    </div>

    <!--Loading-->
    <div ng-if="plotOptionsLoading" class="well workbench-loading-container">
        <i class="fa fa-2x fa-spinner fa-pulse"></i>
        <div class="workbench-loading-text">Please wait...</div>
    </div>
</div>
