<div class="workbench-view-selector-container">
    <!--View/axes selector-->
    <div ng-if="viewsLoaded && selectedItem != null">
        <!--View selection-->
        <div class="row">
            <div class="form-group col-md-10 col-md-offset-1">
                <label for="available-views">Select a view type:</label>
                <select class="form-control"
                        id="available-views"
                        ng-model="selectedView"
                        ng-change="selectView(selectedView)"
                        ng-options="item as item for item in availableViews">
                    <option value="">Please select a view</option>
                </select>
            </div>
        </div>

        <!--X axis selection-->
        <div class="row" ng-if="axes != undefined && axes.x.length > 0">
            <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                    <label>X Axis:</label>
                    <select class="form-control"
                            ng-model="selectedAxisX"
                            ng-options="item as item.label for item in axes.x"
                            ng-disabled="axes.x.length==1">
                        <option value="">Choose...</option>
                    </select>
                </div>
            </div>
        </div>

        <!--Create chart button-->
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary btn-lg" ng-click="createChart()">Create chart</button>
            </div>
        </div>
    </div>

    <!--Alert for when views are not loaded-->
    <div ng-if="viewsLoaded == false || selectedItem == null">
        <div uib-alert class="alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Please select one or
            more Library items in the Import tab!
        </div>
    </div>
</div>
