<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Basket Item Selection</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!--<p>Items for user: {{ userId }}</p>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" ng-click="ok()">Ok</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
